// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/T2N Development EVK board
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r9a07g076.dtsi"
#include <dt-bindings/pinctrl/rzt2-pinctrl.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/rzt2-ethss.h>

/*
 * Set SEL_ETHSW_ESWM to below values to select using of:
 * - 0: ETHSW (default)
 * - 1: ESWM
 */
#define SEL_ETHSW_ESWM		0

/*
 * Set the marco SEL_SPI_XSPI1 to the values below to select the usage of:
 * SEL_SPI_XSPI1 = 0: XSPI1
 * SEL_SPI_XSPI1 = 1: SPI0 (Default)
 */
#define SEL_SPI_XSPI1		1

/*
 * Set the marco SEL_ETH34_ESWM_MTU3 to the values below to select the usage of:
 * SEL_ETH34_ESWM_MTU3 = 0 : ETH34, ESWM (Default)
 * SEL_ETH34_ESWM_MTU3 = 1 : MTU3
 */
#define SEL_ETH34_ESWM_MTU3	0

/*
 * Set SEL_PCIE_RC_EP to below values to select using of:
 * - 0: PCI_RC (Default)
 * - 1: PCI_EP
 */
#define SEL_PCIE_RC_EP		0

/*
 * Set marco to 1 to use OTG with J4
 * SEL_OTG = 1 use OTG with J4
 * SEL_OTG = 0 use USB host with J2 and USB function with J3 (default)
 */
#define SEL_OTG                0

/ {
	model = "Renesas Development EVK based on r9a07g076m48";
	compatible = "renesas,r9a07g076m48-dev", "renesas,r9a07g076m48", "renesas,r9a07g076";

	aliases {
		serial0 = &sci0;
		serial1 = &sci1;
		serial3 = &scie7;
		mmc0 = &sdhi0;
		mmc1 = &sdhi1;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		eth0 = &gmac0;
		eth1 = &gmac1;
		eth2 = &gmac2;
	};

	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial1:115200n8";
	};

	memory@c8000000 {
		device_type = "memory";
		/* first 128MiB is reserved for secure area. */
		reg = <0x0 0xc8000000 0x0 0x38000000>;
	};

	memory@240000000 {
		device_type = "memory";
		reg = <0x2 0x40000000 0x0 0xC0000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		global_cma: linux,cma@D0000000 {
			compatible = "shared-dma-pool";
			linux,cma-default;
			reusable;
			reg = <0x0 0xD0000000 0x0 0x10000000>;
		};
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vmmc_sdhi1: regulator-vcc-sdhi1 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI1 Vmmc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&pinctrl RZT2_GPIO(13, 1) GPIO_ACTIVE_HIGH>; /* SDHI1 : SD1_PWEN/P13_1 */
		enable-active-high;
	};

	vccq_sdhi1: regulator-vccq-sdhi1 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI1 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&pinctrl RZT2_GPIO(13, 2) GPIO_ACTIVE_HIGH>; /* SDHI1: SD1_IOVS/P13_2 */

		gpios-states = <0>;
		states = <3300000 0 1800000 1>;
	};

	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <1>;
		queue0 {
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <3>;
		snps,tx-sched-wrr;
		queue0 {
			snps,weight = <0x10>;
			snps,dcb-algorithm;
		};

		queue1 {
			snps,weight = <0x10>;
			snps,dcb-algorithm;
		};

		queue2 {
			snps,weight = <0x10>;
			snps,dcb-algorithm;
		};
	};
};

&pinctrl {
	sci0_pins: sci0 {
		pinmux = <RZT2_PORT_PINMUX(11, 3, 0x18)>, /* SCI : RXD0/SCL0/MISO0/P11_3 */
			 <RZT2_PORT_PINMUX(11, 4, 0x18)>; /* SCI : TXD0/SDA0/MOSI0/P11_4 */
	};

	sci1_pins: sci1 {
		pinmux = <RZT2_PORT_PINMUX(11, 1, 0x18)>, /* SCI : RXD1/SCL1/MISO1/P11_1 */
			 <RZT2_PORT_PINMUX(11, 2, 0x18)>; /* SCI : TXD1/SDA1/MOSI1/P11_2 */
	};

	scie7_pins: scie7 {
		pinmux = <RZT2_PORT_PINMUX(14, 0, 0x1A)>, /* SCIe: RXDE7/P14_0 */
			 <RZT2_PORT_PINMUX(13, 6, 0x1A)>, /* SCIe: DEE7/P13_6 */
			 <RZT2_PORT_PINMUX(13, 7, 0x1A)>; /* SCIe: TXDE7/P13_7 */
	};

	sdhi0_pins: sd0 {
		sd0_data {
			pinmux = <RZT2_PORT_PINMUX(4, 6, 0x2C)>, /* SDHI : SD0_DATA0/P04_6 */
				 <RZT2_PORT_PINMUX(4, 7, 0x2C)>, /* SDHI : SD0_DATA1/P04_7 */
				 <RZT2_PORT_PINMUX(5, 0, 0x2C)>, /* SDHI : SD0_DATA2/P05_0 */
				 <RZT2_PORT_PINMUX(5, 1, 0x2C)>, /* SDHI : SD0_DATA3/P05_1 */
				 <RZT2_PORT_PINMUX(5, 2, 0x2C)>, /* SDHI : SD0_DATA4/P05_2 */
				 <RZT2_PORT_PINMUX(5, 3, 0x2C)>, /* SDHI : SD0_DATA5/P05_3 */
				 <RZT2_PORT_PINMUX(5, 4, 0x2C)>, /* SDHI : SD0_DATA6/P05_4 */
				 <RZT2_PORT_PINMUX(5, 5, 0x2C)>; /* SDHI : SD0_DATA7/P05_5 */
		};

		sd0_ctrl {
			pinmux = <RZT2_PORT_PINMUX(4, 4, 0x2C)>, /* SDHI : SD0_CLK/P04_4 */
				 <RZT2_PORT_PINMUX(4, 5, 0x2C)>; /* SDHI : SD0_CMD/P04_5 */
		};
	};

	sdhi1_pins: sd1 {
		sd1_data {
			pinmux = <RZT2_PORT_PINMUX(4, 0, 0x2C)>, /* SDHI : SD1_DATA0/P04_0 */
				 <RZT2_PORT_PINMUX(4, 1, 0x2C)>, /* SDHI : SD1_DATA1/P04_1 */
				 <RZT2_PORT_PINMUX(4, 2, 0x2C)>, /* SDHI : SD1_DATA2/P04_2 */
				 <RZT2_PORT_PINMUX(4, 3, 0x2C)>; /* SDHI : SD1_DATA3/P04_3 */
		};

		sd1_ctrl {
			pinmux = <RZT2_PORT_PINMUX(15, 0, 0x2C)>, /* SDHI : SD1_CD/P15_0 */
				 <RZT2_PORT_PINMUX(3, 6, 0x2C)>, /* SDHI : SD1_CLK/P03_6 */
				 <RZT2_PORT_PINMUX(3, 7, 0x2C)>; /* SDHI : SD1_CMD/P03_7 */
		};
	};

	mdio1_pins: gmac_mdio1 {
		pinmux = <RZT2_PORT_PINMUX(3, 2, 0x12)>, /* GMAC : GMAC1_MDC/P3_2 */
			 <RZT2_PORT_PINMUX(3, 3, 0x12)>; /* GMAC : GMAC1_MDIO/P3_3 */
	};

#if (!SEL_ETHSW_ESWM)
	ethsw_pins: ethsw_pins {
		pinmux = <RZT2_PORT_PINMUX(20, 4, 0x14)>, /* ETHSW : ETHSW_MDC/P20_4 */
			 <RZT2_PORT_PINMUX(20, 5, 0x14)>, /* ETHSW : ETHSW_MDIO/P20_5 */
			 <RZT2_PORT_PINMUX(20, 6, 0x14)>, /* ETHSW : ETHSW_PHYLINK0/P20_6 */
			 <RZT2_PORT_PINMUX(22, 5, 0x14)>, /* ETHSW : ETHSW_PHYLINK1/P22_5 */
			 <RZT2_PORT_PINMUX(25, 0, 0x14)>; /* ETHSW : ETHSW_PHYLINK2/P25_0 */
	};
#endif

#if (SEL_ETHSW_ESWM)
#if (!SEL_ETH34_ESWM_MTU3)
	eswm_pins: eswm_pins {
		pinmux = <RZT2_PORT_PINMUX(9, 3, 0x2F)>, /* ESWM : ESWM_MPINT0/P09_3 */
			 <RZT2_PORT_PINMUX(9, 4, 0x2F)>, /* ESWM : ESWM_MPINT1/P09_4 */
			 <RZT2_PORT_PINMUX(20, 6, 0x2F)>, /* ESWM : ESWM_PHYLINK0/P20_6 */
			 <RZT2_PORT_PINMUX(22, 5, 0x2F)>, /* ESWM : ESWM_PHYLINK1/P22_5 */
			 <RZT2_PORT_PINMUX(20, 4, 0x2F)>, /* ESWM : ESWM_MDC/P20_4 */
			 <RZT2_PORT_PINMUX(20, 5, 0x2F)>; /* ESWM : ESWM_MDIO/P20_5 */
	};
#endif
#endif

	pins_refclk: pins_refclk {
		pinmux = <RZT2_PORT_PINMUX(20, 7, 0x02)>, /* Clock : ETH0_REFCLK/P20_7 */
			 <RZT2_PORT_PINMUX(22, 6, 0x02)>, /* Clock : ETH1_REFCLK/P22_6 */
			 <RZT2_PORT_PINMUX(24, 4, 0x02)>, /* Clock : ETH2_REFCLK/P24_4 */
			 <RZT2_PORT_PINMUX(01, 4, 0x02)>, /* Clock : ETH3_REFCLK/P01_4 */
			 <RZT2_PORT_PINMUX(03, 4, 0x02)>; /* Clock : ETH4_REFCLK/P03_4 */
	};

	eth0_pins: ethss_0 {
		pinmux = <RZT2_PORT_PINMUX(19, 0, 0x0F)>, /* ETHSS : ETH0_TXCLK/P19_0 */
			 <RZT2_PORT_PINMUX(19, 1, 0x0F)>, /* ETHSS : ETH0_TXD0/P19_1 */
			 <RZT2_PORT_PINMUX(19, 2, 0x0F)>, /* ETHSS : ETH0_TXD1/P19_2 */
			 <RZT2_PORT_PINMUX(19, 3, 0x0F)>, /* ETHSS : ETH0_TXD2/P19_3 */
			 <RZT2_PORT_PINMUX(19, 4, 0x0F)>, /* ETHSS : ETH0_TXD3/P19_4 */
			 <RZT2_PORT_PINMUX(19, 5, 0x0F)>, /* ETHSS : ETH0_TXEN/P19_5 */
			 <RZT2_PORT_PINMUX(19, 6, 0x0F)>, /* ETHSS : ETH0_RXCLK/P19_6 */
			 <RZT2_PORT_PINMUX(19, 7, 0x0F)>, /* ETHSS : ETH0_RXD0/P19_7 */
			 <RZT2_PORT_PINMUX(20, 0, 0x0F)>, /* ETHSS : ETH0_RXD1/P20_0 */
			 <RZT2_PORT_PINMUX(20, 1, 0x0F)>, /* ETHSS : ETH0_RXD2/P20_1 */
			 <RZT2_PORT_PINMUX(20, 2, 0x0F)>, /* ETHSS : ETH0_RXD3/P20_2 */
			 <RZT2_PORT_PINMUX(20, 3, 0x0F)>; /* ETHSS : ETH0_RXDV/P20_3 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};

	eth1_pins: ethss_1 {
		pinmux = <RZT2_PORT_PINMUX(21, 1, 0x0F)>, /* ETHSS : ETH1_TXCLK/P21_1 */
			 <RZT2_PORT_PINMUX(21, 2, 0x0F)>, /* ETHSS : ETH1_TXD0/P21_2 */
			 <RZT2_PORT_PINMUX(21, 3, 0x0F)>, /* ETHSS : ETH1_TXD1/P21_3 */
			 <RZT2_PORT_PINMUX(21, 4, 0x0F)>, /* ETHSS : ETH1_TXD2/P21_4 */
			 <RZT2_PORT_PINMUX(21, 5, 0x0F)>, /* ETHSS : ETH1_TXD3/P21_5 */
			 <RZT2_PORT_PINMUX(21, 6, 0x0F)>, /* ETHSS : ETH1_TXEN/P21_6 */
			 <RZT2_PORT_PINMUX(21, 7, 0x0F)>, /* ETHSS : ETH1_RXCLK/P21_7 */
			 <RZT2_PORT_PINMUX(22, 0, 0x0F)>, /* ETHSS : ETH1_RXD0/P22_0 */
			 <RZT2_PORT_PINMUX(22, 1, 0x0F)>, /* ETHSS : ETH1_RXD1/P22_1 */
			 <RZT2_PORT_PINMUX(22, 2, 0x0F)>, /* ETHSS : ETH1_RXD2/P22_2 */
			 <RZT2_PORT_PINMUX(22, 3, 0x0F)>, /* ETHSS : ETH1_RXD3/P22_3 */
			 <RZT2_PORT_PINMUX(22, 4, 0x0F)>; /* ETHSS : ETH1_RXDV/P22_4 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};

	eth2_pins: ethss_2 {
		pinmux = <RZT2_PORT_PINMUX(23, 0, 0x0F)>, /* ETHSS : ETH2_TXCLK/P23_0 */
			 <RZT2_PORT_PINMUX(23, 1, 0x0F)>, /* ETHSS : ETH2_TXD0/P23_1 */
			 <RZT2_PORT_PINMUX(23, 2, 0x0F)>, /* ETHSS : ETH2_TXD1/P23_2 */
			 <RZT2_PORT_PINMUX(23, 3, 0x0F)>, /* ETHSS : ETH2_TXD2/P23_3 */
			 <RZT2_PORT_PINMUX(23, 4, 0x0F)>, /* ETHSS : ETH2_TXD3/P23_4 */
			 <RZT2_PORT_PINMUX(23, 5, 0x0F)>, /* ETHSS : ETH2_TXEN/P23_5 */
			 <RZT2_PORT_PINMUX(23, 6, 0x0F)>, /* ETHSS : ETH2_RXCLK/P23_6 */
			 <RZT2_PORT_PINMUX(23, 7, 0x0F)>, /* ETHSS : ETH2_RXD0/P23_7 */
			 <RZT2_PORT_PINMUX(24, 0, 0x0F)>, /* ETHSS : ETH2_RXD1/P24_0 */
			 <RZT2_PORT_PINMUX(24, 1, 0x0F)>, /* ETHSS : ETH2_RXD2/P24_1 */
			 <RZT2_PORT_PINMUX(24, 2, 0x0F)>, /* ETHSS : ETH2_RXD3/P24_2 */
			 <RZT2_PORT_PINMUX(24, 3, 0x0F)>; /* ETHSS : ETH2_RXDV/P24_3 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};

#if (!SEL_ETH34_ESWM_MTU3)
	eth3_pins: ethss_3 {
		pinmux = <RZT2_PORT_PINMUX(00, 0, 0x0F)>, /* ETHSS : ETH3_TXCLK/P00_0 */
			 <RZT2_PORT_PINMUX(00, 1, 0x0F)>, /* ETHSS : ETH3_TXD0/P00_1 */
			 <RZT2_PORT_PINMUX(00, 2, 0x0F)>, /* ETHSS : ETH3_TXD1/P00_2 */
			 <RZT2_PORT_PINMUX(00, 3, 0x0F)>, /* ETHSS : ETH3_TXD2/P00_3 */
			 <RZT2_PORT_PINMUX(00, 4, 0x0F)>, /* ETHSS : ETH3_TXD3/P00_4 */
			 <RZT2_PORT_PINMUX(00, 5, 0x0F)>, /* ETHSS : ETH3_TXEN/P00_5 */
			 <RZT2_PORT_PINMUX(00, 6, 0x0F)>, /* ETHSS : ETH3_RXCLK/P00_6 */
			 <RZT2_PORT_PINMUX(00, 7, 0x0F)>, /* ETHSS : ETH3_RXD0/P00_7 */
			 <RZT2_PORT_PINMUX(01, 0, 0x0F)>, /* ETHSS : ETH3_RXD1/P01_0 */
			 <RZT2_PORT_PINMUX(01, 1, 0x0F)>, /* ETHSS : ETH3_RXD2/P01_1 */
			 <RZT2_PORT_PINMUX(01, 2, 0x0F)>, /* ETHSS : ETH3_RXD3/P01_2 */
			 <RZT2_PORT_PINMUX(01, 3, 0x0F)>; /* ETHSS : ETH3_RXDV/P01_3 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};

	eth4_pins: ethss_4 {
		pinmux = <RZT2_PORT_PINMUX(01, 6, 0x0F)>, /* ETHSS : ETH4_TXCLK/P01_6 */
			 <RZT2_PORT_PINMUX(01, 7, 0x0F)>, /* ETHSS : ETH4_TXD0/P01_7 */
			 <RZT2_PORT_PINMUX(02, 0, 0x0F)>, /* ETHSS : ETH4_TXD1/P02_0 */
			 <RZT2_PORT_PINMUX(02, 1, 0x0F)>, /* ETHSS : ETH4_TXD2/P02_1 */
			 <RZT2_PORT_PINMUX(02, 2, 0x0F)>, /* ETHSS : ETH4_TXD3/P02_2 */
			 <RZT2_PORT_PINMUX(02, 3, 0x0F)>, /* ETHSS : ETH4_TXEN/P02_3 */
			 <RZT2_PORT_PINMUX(02, 4, 0x0F)>, /* ETHSS : ETH4_RXCLK/P02_4 */
			 <RZT2_PORT_PINMUX(02, 5, 0x0F)>, /* ETHSS : ETH4_RXD0/P02_5 */
			 <RZT2_PORT_PINMUX(02, 6, 0x0F)>, /* ETHSS : ETH4_RXD1/P02_6 */
			 <RZT2_PORT_PINMUX(02, 7, 0x0F)>, /* ETHSS : ETH4_RXD2/P02_7 */
			 <RZT2_PORT_PINMUX(03, 0, 0x0F)>, /* ETHSS : ETH4_RXD3/P03_0 */
			 <RZT2_PORT_PINMUX(03, 1, 0x0F)>; /* ETHSS : ETH4_RXDV/P03_1 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};
#endif

	icu_pins: icu_pins {
		pinmux = <RZT2_PORT_PINMUX(8, 1, 0x0)>, /* Interrupt : IRQ08_1/P08_1 */
			 <RZT2_PORT_PINMUX(10, 4, 0x0)>; /* Interrupt : IRQ10_4/P10_4 */
	};

	spi0_pins: spi0 {
		pinmux = <RZT2_PORT_PINMUX(16, 7, 0x1E)>, /* SPI : SPI_SSL00/P16_7 */
			 <RZT2_PORT_PINMUX(16, 6, 0x1E)>, /* SPI : SPI_RSPCK0/P16_6 */
			 <RZT2_PORT_PINMUX(16, 5, 0x1E)>, /* SPI : SPI_MOSI0/P16_5 */
			 <RZT2_PORT_PINMUX(16, 4, 0x1E)>; /* SPI : SPI_MISO0/P16_4 */
	};

#if (!SEL_SPI_XSPI1)
	xspi1_pins: xspi1 {
		xspi1_clk {
			pinmux = <RZT2_PORT_PINMUX(15, 6, 0x20)>; /* xSPI : XSPI1_CKP/P15_6 */
		};

		xspi1_data {
			pinmux = <RZT2_PORT_PINMUX(16, 2, 0x20)>, /* xSPI : XSPI1_IO0/P16_2 */
				 <RZT2_PORT_PINMUX(16, 3, 0x20)>, /* xSPI : XSPI1_IO1/P16_3 */
				 <RZT2_PORT_PINMUX(16, 4, 0x20)>, /* xSPI : XSPI1_IO2/P16_4 */
				 <RZT2_PORT_PINMUX(16, 5, 0x20)>; /* xSPI : XSPI1_IO3/P16_5 */
		};

		xspi1_cs {
			pinmux = <RZT2_PORT_PINMUX(15, 7, 0x20)>; /* xSPI : XSPI1_CS0#/P15_7 */
		};
	};
#endif

	i2c0_pins: i2c0 {
		pinmux = <RZT2_PORT_PINMUX(15, 4, 0x1C)>, /* IIC : IIC_SCL0/P15_4 */
			 <RZT2_PORT_PINMUX(15, 5, 0x1C)>; /* IIC : IIC_SDA0/P15_5 */
	};

	i2c1_pins: i2c1 {
		pinmux = <RZT2_PORT_PINMUX(17, 0, 0x1C)>, /* IIC : IIC_SCL1/P17_0 */
			 <RZT2_PORT_PINMUX(17, 1, 0x1C)>; /* IIC : IIC_SDA1/P17_1 */
	};

	can1_pins: can1 {
		pinmux = <RZT2_PORT_PINMUX(8, 0, 0x1D)>, /* CANFD : CANRX1/P08_0 */
			 <RZT2_PORT_PINMUX(8, 2, 0x1D)>; /* CANFD : CANTX1/P08_2 */
	};

#if (SEL_ETH34_ESWM_MTU3)
	mtu3_pins: mtu3 {
		mtu3-ext-clk-input-pin {
			pinmux = <RZT2_PORT_PINMUX(00, 6, 0x06)>, /* MTU3 : MTCLKA/P00_6 */
				 <RZT2_PORT_PINMUX(00, 7, 0x06)>; /* MTU3 : MTCLKB/P00_7 */
		};

		mtu3-pwm {
			pinmux = <RZT2_PORT_PINMUX(9, 3, 0x07)>, /* MTU3 : MTIOC2A/P09_3 */
				 <RZT2_PORT_PINMUX(01, 6, 0x06)>, /* MTU3 : MTIOC6B/P01_6 */
				 <RZT2_PORT_PINMUX(01, 7, 0x06)>; /* MTU3 : MTIOC6D/P01_7 */
		};

		mtu3-zphase-clk {
			pinmux = <RZT2_PORT_PINMUX(14, 7, 0x07)>; /* MTU3 : MTIOC1A/P14_7 */
		};
	};
#endif

	poe3_pins: poe3 {
		pinmux = <RZT2_PORT_PINMUX(11, 5, 0x08)>; /* POE3 : POE0#/P11_5 */
	};

#if (!SEL_PCIE_RC_EP)
	pcie_rstout {
		gpio-hog;
		gpios = <RZT2_GPIO(24, 5) GPIO_ACTIVE_HIGH>; /* PCIE: RSTOUT/P24_5 */
		output-high;
		line-name = "pcie_rstout";
	};
#endif

#if (SEL_OTG)
	usb_exicen_a: usb_exicen_a {
		gpio-hog;
		gpios = <RZT2_GPIO(14, 3) GPIO_ACTIVE_HIGH>; /* USB : USB_EXICEN/P14_3 */
		output-high;
		line-name = "usb_exicen_a";
	};
#endif

	usb_pins: usb_pins {
		pinmux = <RZT2_PORT_PINMUX(11, 0, 0x17)>, /* USB : USB_VBUSEN/P11_0 */
			 <RZT2_PORT_PINMUX(11, 6, 0x17)>, /* USB : USB_OVRCUR/P11_6 */
			 <RZT2_PORT_PINMUX(11, 7, 0x17)>, /* USB : USB_OTG_ID/P11_7 */
			 <RZT2_PORT_PINMUX(12, 4, 0x17)>; /* USB : USB_VBUSIN/P12_4 */
	};
};

&extal {
	clock-frequency = <25000000>;
};

&loco {
	clock-frequency = <1000000>;
};

&sci0 {
	pinctrl-0 = <&sci0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&sci1 {
	pinctrl-0 = <&sci1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&scie7 {
	pinctrl-0 = <&scie7_pins>;
	pinctrl-names = "default";
	linux,rs485-enabled-at-boot-time;
	rs485-rx-during-tx;
	rs485-enabled;
	status = "okay";
};

&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-1 = <&sdhi0_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	bus-width = <8>;
	non-removable;
	mmc-hs200-1_8v;
	fixed-emmc-driver-type = <1>;
	status = "okay";
};

&sdhi1 {
	pinctrl-0 = <&sdhi1_pins>;
	pinctrl-1 = <&sdhi1_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&vmmc_sdhi1>;
	vqmmc-supply = <&vccq_sdhi1>;
	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "okay";
};

#if (SEL_ETHSW_ESWM)
&gmac0 {
	phy-handle = <&phy2>;
	phy-mode = "rgmii-id";
	pcs-handle = <&mii_conv2>;
	status = "okay";
	enable-time-based-scheduling;
	snps,force_thresh_dma_mode;
	snps,tx_threshold = <128>;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	snps,mtl-rx-config = <&mtl_rx_setup>;
};
#endif

#if (!SEL_ETHSW_ESWM)
&gmac0 {
	status = "okay";
	phy-mode = "rgmii";

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};
#endif

#if (!SEL_ETH34_ESWM_MTU3)
&gmac1 {
	phy-handle = <&phy3>;
	phy-mode = "rgmii-id";
	pcs-handle = <&mii_conv3>;
	status = "okay";
	phy-reset-gpios = <&pinctrl RZT2_GPIO(16, 1) GPIO_ACTIVE_HIGH>; /* ETH34: RESETOUT/P16_1 */
	pinctrl-names = "default";
	pinctrl-0 = <&mdio1_pins>;
	enable-time-based-scheduling;
	snps,force_thresh_dma_mode;
	snps,tx_threshold = <128>;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	snps,mtl-rx-config = <&mtl_rx_setup>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		phy3: ethernet-phy@3 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "rgmii-id";
			reg = <0>;
		};

		phy4: ethernet-phy@4 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "rgmii-id";
			reg = <1>;
		};
	};
};
#endif

#if (!SEL_ETH34_ESWM_MTU3)
&gmac2 {
	phy-handle = <&phy4>;
	phy-mode = "rgmii-id";
	pcs-handle = <&mii_conv4>;
	status = "okay";
	enable-time-based-scheduling;
	snps,force_thresh_dma_mode;
	snps,tx_threshold = <128>;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	snps,mtl-rx-config = <&mtl_rx_setup>;
};
#endif

&ethss {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pins_refclk>, <&eth1_pins>, <&eth2_pins>,
#if (!SEL_ETH34_ESWM_MTU3)
		    <&eth3_pins>, <&eth4_pins>,
#endif
		    <&eth0_pins>;
#if (!SEL_ETHSW_ESWM)
	renesas,ethss-switch-portmanagement = <ETHSS_GMAC0_PORT>;
#endif
};

#if (!SEL_ETHSW_ESWM)
&ethsw {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy-reset-gpios = <&pinctrl RZT2_GPIO(07, 0) GPIO_ACTIVE_HIGH>; /* ETH012: RESETOUT/P07_0 */
	pinctrl-names = "default";
	pinctrl-0 = <&ethsw_pins>;

	dsa,member = <0 0>;

	mdio {
		clock-frequency = <2500000>;

		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@0 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "rgmii-id";
			reg = <0>;
		};

		phy1: ethernet-phy@1 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "rgmii-id";
			reg = <1>;
		};

		phy2: ethernet-phy@2 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "rgmii-id";
			reg = <2>;
		};
	};
};

&switch_port0 {
	label = "lan0";
	phy-mode = "rgmii-id";
	pcs-handle = <&mii_conv0>;
	phy-handle = <&phy0>;
	status = "okay";
};

&switch_port1 {
	label = "lan1";
	phy-mode = "rgmii-id";
	pcs-handle = <&mii_conv1>;
	phy-handle = <&phy1>;
	status = "okay";
};

&switch_port2 {
	label = "lan2";
	phy-mode = "rgmii-id";
	pcs-handle = <&mii_conv2>;
	phy-handle = <&phy2>;
	status = "okay";
};

&switch_port3 {
	status = "okay";
};
#endif

#if (!SEL_ETHSW_ESWM)
&mii_conv0 {
	renesas,ethss-port = <ETHSS_SWITCH_PORT0>;
	status = "okay";
};

&mii_conv1 {
	renesas,ethss-port = <ETHSS_SWITCH_PORT1>;
	status = "okay";
};

&mii_conv2 {
	renesas,ethss-port = <ETHSS_SWITCH_PORT2>;
	status = "okay";
};

&mii_conv3 {
	renesas,ethss-port = <ETHSS_GMAC1_PORT>;
	status = "okay";
};

&mii_conv4 {
	renesas,ethss-port = <ETHSS_GMAC2_PORT>;
	status = "okay";
};
#else
#if (!SEL_ETH34_ESWM_MTU3)
&mii_conv0 {
	renesas,ethss-port = <ETHSS_ESWM_PORT0>;
	renesas,eswm-phylink = <0>;
	status = "okay";
};

&mii_conv1 {
	renesas,ethss-port = <ETHSS_ESWM_PORT1>;
	renesas,eswm-phylink = <0>;
	status = "okay";
};

&mii_conv2 {
	renesas,ethss-port = <ETHSS_GMAC0_PORT>;
	status = "okay";
};

&mii_conv3 {
	renesas,ethss-port = <ETHSS_GMAC1_PORT>;
	status = "okay";
};

&mii_conv4 {
	renesas,ethss-port = <ETHSS_GMAC2_PORT>;
	status = "okay";
};
#endif
#endif

&intc_ex {
	pinctrl-0 = <&icu_pins>;
	pinctrl-names = "default";
	irq-port = <8 1>, <10 4>;

	status = "okay";
};

&wdt2 {
	status = "okay";
	timeout-sec = <60>;
};

&wdt3 {
	status = "okay";
	timeout-sec = <60>;
};

&dmac0 {
	memory-region = <&global_cma>;
};

&cmt0 {
	status = "okay";
};

&cmt1 {
	status = "okay";
};

&cmt2 {
	status = "okay";
};

&cmtw0 {
	status = "okay";
};

&cmtw1 {
	status = "okay";
};

#if (SEL_SPI_XSPI1)
&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";

	status = "okay";
};
#endif

#if (!SEL_SPI_XSPI1)
&xspi1 {
	pinctrl-0 = <&xspi1_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "bl2-1";
				reg = <0x00000000 0x00060000>;
				read-only;
			};

			partition@60000 {
				label = "fip-1";
				reg = <0x00060000 0x001a0000>;
				read-only;
			};

			partition@200000 {
				label = "user-1";
				reg = <0x00200000 0x00e00000>;
			};
		};
	};
};
#endif

#if (SEL_ETHSW_ESWM)
#if (!SEL_ETH34_ESWM_MTU3)
&eswm {
	pinctrl-0 = <&eswm_pins>;
	pinctrl-names = "default";
	phy-reset-gpios = <&pinctrl RZT2_GPIO(07, 0) GPIO_ACTIVE_HIGH>; /* ETH01: RESETOUT/P07_0 */
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@0 {
			compatible = "ethernet-phy-id0007.0772";
			reg = <0>;
		};

		phy1: ethernet-phy@1 {
			compatible = "ethernet-phy-id0007.0772";
			reg = <1>;
		};

		phy2: ethernet-phy@2 {
			compatible = "ethernet-phy-id0007.0772";
			reg = <2>;
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			phy-handle = <&phy0>;
			phy-mode = "rgmii-id";
			pcs-handle = <&mii_conv0>;
		};

		port@1 {
			reg = <1>;
			phy-handle = <&phy1>;
			phy-mode = "rgmii-id";
			pcs-handle = <&mii_conv1>;
		};
	};
};
#endif
#endif

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	eeprom: eeprom@50 {
		compatible = "renesas,r1ex24016", "atmel,24c16";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&canfd {
	pinctrl-0 = <&can1_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel1 {
		status = "okay";
	};
};

&rtc {
	status = "okay";
};

#if (SEL_ETH34_ESWM_MTU3)
&mtu3 {
	pinctrl-0 = <&mtu3_pins>;
	pinctrl-names = "default";
	status = "okay";
};
#endif

&poe3 {
	pinctrl-0 = <&poe3_pins>;
	pinctrl-names = "default";
	poe3_pins_mode = <0 0>, <4 0>, <8 0>, <10 0>;
	oscillation_detection = <1>;
	status = "okay";
#if (SEL_ETH34_ESWM_MTU3)
	mtu3_ch67 {
		mtu3_outputs = <0>;
		addition_poe3_inputs = <0>;
		mtioc6b_pin_select = <0>;
		mtioc6d_pin_select = <0>;
		dsmif_error_detection = <0 0>, <0 5>, <1 0>, <1 9>;
	};
#endif
};

#if (!SEL_PCIE_RC_EP)
&pcie0 {
	pcie-lane = <1>;
	status = "okay";
};
#else
&pcie0_ep {
	status = "okay";
};
#endif

&ohci {
	memory-region = <&global_cma>;
	dr_mode = "otg";
	status = "okay";
};

&ehci {
	memory-region = <&global_cma>;
	dr_mode = "otg";
	status = "okay";
};

&hsusb {
	dr_mode = "otg";
	status = "okay";
};

&usb2_phy {
	pinctrl-0 = <&usb_pins>;
	pinctrl-names = "default";

	status = "okay";
};
