// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/V2H SoC
 *
 * Copyright (C) 2022 Renesas Electronics Corp.
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/r9a09g057-cpg.h>

/ {
	compatible = "renesas,r9a09g057";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
		i2c7 = &i2c7;
	};

	/* clock can be either from exclk or crystal oscillator (XIN/XOUT) */
	extal_clk: extal-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et0_txc_tx_clk clock input */
	et0_txc_tx_clk: et0_txc_tx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et0_rxc_rx_clk clock input */
	et0_rxc_rx_clk: et0_rxc_rx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et1_txc_tx_clk clock input */
	et1_txc_tx_clk: et1_txc_tx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* et1_rxc_rx_clk clock input */
	et1_rxc_rx_clk: et1_rxc_rx_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* audio_clka clock input */
	audio_clka: audio_clka {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* audio_clkb clock input */
	audio_clkb: audio_clkb {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* audio_clkc clock input */
	audio_clkc: audio_clkc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* ptp_clock input */
	ptp_clock: ptp_clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <125000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
				core2 {
					cpu = <&cpu2>;
				};
				core3 {
					cpu = <&cpu3>;
				};
			};
		};

		cpu0: cpu@0 {
			compatible = "arm,cortex-a55";
			reg = <0>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
		};

		cpu1: cpu@100 {
			compatible = "arm,cortex-a55";
			reg = <0x100>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
		};

		cpu2: cpu@200 {
			compatible = "arm,cortex-a55";
			reg = <0x200>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
		};

		cpu3: cpu@300 {
			compatible = "arm,cortex-a55";
			reg = <0x300>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
		};

		L3_CA55: cache-controller-0 {
			compatible = "cache";
			cache-unified;
			cache-size = <0x100000>;
		};
	};

	gpu_opp_table: opp-table-1 {
		compatible = "operating-points-v2";

		opp-630000000 {
			opp-hz = /bits/ 64 <630000000>;
			opp-microvolt = <1100000>;
		};

		opp-315000000 {
			opp-hz = /bits/ 64 <315000000>;
			opp-microvolt = <1100000>;
		};

		opp-158000000 {
			opp-hz = /bits/ 64 <158000000>;
			opp-microvolt = <1100000>;
		};

		opp-79000000 {
			opp-hz = /bits/ 64 <79000000>;
			opp-microvolt = <1100000>;
		};

		opp-20000000 {
			opp-hz = /bits/ 64 <20000000>;
			opp-microvolt = <1100000>;
		};
	};


	psci {
		compatible = "arm,psci-1.0", "arm,psci-0.2";
		method = "smc";
	};

	soc: soc {
		compatible = "simple-bus";
		interrupt-parent = <&gic>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		cpg: clock-controller@10420000 {
			compatible = "renesas,r9a09g057-cpg";
			reg = <0 0x10420000 0 0x10000>;
			clocks = <&extal_clk>,
				 <&et0_txc_tx_clk>, <&et0_rxc_rx_clk>,
				 <&et1_txc_tx_clk>, <&et1_rxc_rx_clk>,
				 <&audio_clka>, <&audio_clkb>, <&audio_clkc>;
			clock-names = "extal",
				      "et0_txc_tx_clk", "et0_rxc_rx_clk",
				      "et1_txc_tx_clk", "et1_rxc_rx_clk",
				      "audio_clka", "audio_clkb", "audio_clkc";
			#clock-cells = <2>;
			#reset-cells = <1>;
			#power-domain-cells = <0>;
		};

		sysc: system-controller@10430000 {
			compatible = "renesas,r9a09g057-sysc";
			reg = <0 0x10430000 0 0x10000>;
			status = "disabled";
		};

		pinctrl: pinctrl@10410000 {
			compatible = "renesas,r9a09g057-pinctrl";
			reg = <0 0x10410000 0 0x10000>, <0 0x10400020 0 0x30>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 0 96>;
			resets = <&cpg R9A09G057_IOTOP_RESETN>,
				 <&cpg R9A09G057_IOTOP_ERROR_RESETN>;
			interrupt-controller;
                        #interrupt-cells = <2>;
			interrupts = <GIC_SPI 419 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 420 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 421 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 422 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 423 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 424 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 425 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 426 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 427 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 428 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 429 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 430 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 431 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 432 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 433 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 434 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 435 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 436 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 437 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 438 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 439 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 440 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 441 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 442 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 443 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 444 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 445 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 446 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 447 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 448 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 449 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 450 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpu: gpu@14850000{
			compatible = "renesas,r9a09g057-mali",
				"arm,mali-bifrost";
			reg = <0x0 0x14850000 0x0 0x10000>;
			interrupts = <GIC_SPI 883 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 884 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 885 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 886 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "gpu", "job", "mmu", "event";
			clocks = <&cpg CPG_MOD R9A09G057_GPU_CLK>,
				 <&cpg CPG_MOD R9A09G057_GPU_AXI_CLK>,
				 <&cpg CPG_MOD R9A09G057_GPU_ACE_CLK>;
			clock-names = "gpu_clk", "gpu_axi_clk", "gpu_ace_clk";
			resets = <&cpg R9A09G057_GPU_RESETN>,
				 <&cpg R9A09G057_GPU_AXI_RESETN>,
				 <&cpg R9A09G057_GPU_ACE_RESETN>;
			reset-names = "rst", "axi_rst", "ace_rst";
			operating-points-v2 = <&gpu_opp_table>;
                };

		gic: interrupt-controller@11900000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <3>;
			#address-cells = <0>;
			interrupt-controller;
			reg = <0x0 0x14900000 0 0x40000>,
			      <0x0 0x14940000 0 0x80000>;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_LOW>;
		};

		ostm0: timer@11800000 {
			compatible = "renesas,r9a09g057-ostm", "renesas,ostm";
			reg = <0x0 0x11800000 0x0 0x1000>;
			interrupts = <GIC_SPI 17 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD R9A09G057_MCPU_OSTM0_PCLK>;
			resets = <&cpg R9A09G057_MCPU_OSTM0_PRESETZ>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm1: timer@11801000 {
			compatible = "renesas,r9a09g057-ostm", "renesas,ostm";
			reg = <0x0 0x11801000 0x0 0x1000>;
			interrupts = <GIC_SPI 18 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD R9A09G057_MCPU_OSTM1_PCLK>;
			resets = <&cpg R9A09G057_MCPU_OSTM1_PRESETZ>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm2: timer@14000000 {
			compatible = "renesas,r9a09g057-ostm", "renesas,ostm";
			reg = <0x0 0x14000000 0x0 0x1000>;
			interrupts = <GIC_SPI 19 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_OSTM0_PCLK>;
			resets = <&cpg R9A09G057_ACPU_OSTM0_PRESETZ>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm3: timer@14001000 {
			compatible = "renesas,r9a09g057-ostm", "renesas,ostm";
			reg = <0x0 0x14001000 0x0 0x1000>;
			interrupts = <GIC_SPI 20 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_OSTM1_PCLK>;
			resets = <&cpg R9A09G057_ACPU_OSTM1_PRESETZ>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm4: timer@12c00000 {
			compatible = "renesas,r9a09g057-ostm", "renesas,ostm";
			reg = <0x0 0x12c00000 0x0 0x1000>;
			interrupts = <GIC_SPI 21 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD R9A09G057_RCPU_OSTM0_PCLK>;
			resets = <&cpg R9A09G057_RCPU_OSTM0_PRESETZ>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm5: timer@12c01000 {
			compatible = "renesas,r9a09g057-ostm", "renesas,ostm";
			reg = <0x0 0x12c01000 0x0 0x1000>;
			interrupts = <GIC_SPI 22 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD R9A09G057_RCPU_OSTM1_PCLK>;
			resets = <&cpg R9A09G057_RCPU_OSTM1_PRESETZ>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm6: timer@12c02000 {
			compatible = "renesas,r9a09g057-ostm", "renesas,ostm";
			reg = <0x0 0x12c02000 0x0 0x1000>;
			interrupts = <GIC_SPI 23 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD R9A09G057_RCPU_OSTM2_PCLK>;
			resets = <&cpg R9A09G057_RCPU_OSTM2_PRESETZ>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ostm7: timer@12c03000 {
			compatible = "renesas,r9a09g057-ostm", "renesas,ostm";
			reg = <0x0 0x12c03000 0x0 0x1000>;
			interrupts = <GIC_SPI 24 IRQ_TYPE_EDGE_RISING>;
			clocks = <&cpg CPG_MOD R9A09G057_RCPU_OSTM3_PCLK>;
			resets = <&cpg R9A09G057_RCPU_OSTM3_PRESETZ>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		scif0: serial@1004b800 {
			compatible = "renesas,scif-r9a09g057",
				     "renesas,scif-r9a07g044";
			reg = <0 0x11c01400 0 0x400>;
			interrupts = <GIC_SPI 529 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 532 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 533 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 530 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 534 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 531 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "eri", "rxi", "txi",
					  "bri", "dri", "tei";
			clocks = <&cpg CPG_MOD R9A09G057_SCIF_CLK_PCK>;
			clock-names = "fck";
			power-domains = <&cpg>;
			resets = <&cpg R9A09G057_SCIF_RST_SYSTEM_N>;
			status = "disabled";
		};

		sdhi0: mmc@15c00000  {
			compatible = "renesas,sdhi-r9a09g057",
				     "renesas,rcar-gen3-sdhi";
			reg = <0x0 0x15c00000 0 0x10000>;
			interrupts = <GIC_SPI 735 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 736 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_SDHI0_IMCLK>,
				 <&cpg CPG_MOD R9A09G057_SDHI0_CLK_HS>,
				 <&cpg CPG_MOD R9A09G057_SDHI0_IMCLK2>,
				 <&cpg CPG_MOD R9A09G057_SDHI0_ACLK>;
			clock-names = "core", "clkh", "cd", "aclk";
			resets = <&cpg R9A09G057_SDHI0_IXRST>;
			power-domains = <&cpg>;
			mmc-no-pin-volt-switch;
			status = "disabled";
		};

		sdhi1: mmc@15c10000 {
			compatible = "renesas,sdhi-r9a09g057",
					"renesas,rcar-gen3-sdhi";
			reg = <0x0 0x15c10000 0 0x10000>;
			interrupts = <GIC_SPI 737 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 738 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_SDHI1_IMCLK>,
				 <&cpg CPG_MOD R9A09G057_SDHI1_CLK_HS>,
				 <&cpg CPG_MOD R9A09G057_SDHI1_IMCLK2>,
				 <&cpg CPG_MOD R9A09G057_SDHI1_ACLK>;
			clock-names = "core", "clkh", "cd", "aclk";
			resets = <&cpg R9A09G057_SDHI1_IXRST>;
			power-domains = <&cpg>;
			mmc-no-pin-volt-switch;
			status = "disabled";
		};

		sdhi2: mmc@15c20000 {
			compatible = "renesas,sdhi-r9a09g057",
					"renesas,rcar-gen3-sdhi";
			reg = <0x0 0x15c20000 0 0x10000>;
			interrupts = <GIC_SPI 739 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 740 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_SDHI2_IMCLK>,
				 <&cpg CPG_MOD R9A09G057_SDHI2_CLK_HS>,
				 <&cpg CPG_MOD R9A09G057_SDHI2_IMCLK2>,
				 <&cpg CPG_MOD R9A09G057_SDHI2_ACLK>;
			clock-names = "core", "clkh", "cd", "aclk";
			resets = <&cpg R9A09G057_SDHI2_IXRST>;
			power-domains = <&cpg>;
			mmc-no-pin-volt-switch;
			status = "disabled";
		};

		vspd0: vsp@16480000 {
			compatible = "renesas,vsp2";
			reg = <0 0x16480000 0 0x10000>;
			interrupts = <GIC_SPI 881 IRQ_TYPE_LEVEL_HIGH>;
			power-domains = <&cpg>;
			renesas,fcp = <&fcpvd0>;
		};

		fcpvd0: fcp@16470000 {
			compatible = "renesas,fcpv";
			reg = <0 0x16470000 0 0x10000>;
			power-domains = <&cpg>;
		};

		du: display@16460000 {
			compatible = "renesas,du-rzv2h";
			reg = <0 0x16460000 0 0x10000>;
			interrupts = <GIC_SPI 882 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_LCDC_CLK_A>,
				 <&cpg CPG_MOD R9A09G057_LCDC_CLK_P>,
				 <&cpg CPG_MOD R9A09G057_LCDC_CLK_D>;
			clock-names = "aclk", "pclk", "dclk";
			resets = <&cpg R9A09G057_LCDC_RESET_N>;
			vsps = <&vspd0 0>;
			power-domains = <&cpg>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					du_out_rgb: endpoint {
					};
				};

				port@1 {
					reg = <1>;
					du_out_dsi0: endpoint {
						remote-endpoint = <&dsi0_in>;
					};
				};
			};
		};

		dsi0: dsi@16430000 {
			compatible = "renesas,r9a09g057-mipi-dsi";
			reg =	<0 0x16430000 0 0x10000>, /* LINK */
				<0 0x16440000 0 0x10000>; /* DPHY */
			clocks = <&cpg CPG_MOD R9A09G057_DSI_PLLREFCLK>,
				 <&cpg CPG_MOD R9A09G057_DSI_ACLK>,
				 <&cpg CPG_MOD R9A09G057_DSI_PCLK>,
				 <&cpg CPG_MOD R9A09G057_DSI_VCLK1>,
				 <&cpg CPG_MOD R9A09G057_DSI_LPCLK>;
			clock-names = "pllclk", "aclk",
				      "pclk", "vclk", "lpclk";
			resets = <&cpg R9A09G057_DSI_ARESETN>,
				 <&cpg R9A09G057_DSI_PRESETN>;
			reset-names = "areset_n", "preset_n";
			power-domains = <&cpg>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					dsi0_in: endpoint {
						remote-endpoint = <&du_out_dsi0>;
					};
				};

				port@1 {
					reg = <1>;
					dsi0_out: endpoint {
					};
				};
			};
		};

		i2c0: i2c@14400400 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g057";
			reg = <0 0x14400400 0 0x400>;
			interrupts = <GIC_SPI 174 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 507 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 506 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 176 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 177 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 175 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 178 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 179 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_RIIC0_CKM>;
			clock-frequency = <100000>;
			resets = <&cpg R9A09G057_ACPU_RIIC0_MRST>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c1: i2c@14400800 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g057";
			reg = <0 0x14400800 0 0x400>;
			interrupts = <GIC_SPI 180 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 509 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 508 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 182 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 183 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 181 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 184 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 185 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_RIIC1_CKM>;
			clock-frequency = <100000>;
			resets = <&cpg R9A09G057_ACPU_RIIC1_MRST>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c2: i2c@14400c00 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g057";
			reg = <0 0x14400c00 0 0x400>;
			interrupts = <GIC_SPI 186 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 511 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 510 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 188 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 189 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 187 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 190 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 191 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_RIIC2_CKM>;
			clock-frequency = <100000>;
			resets = <&cpg R9A09G057_ACPU_RIIC2_MRST>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c3: i2c@14401000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g057";
			reg = <0 0x14401000 0 0x400>;
			interrupts = <GIC_SPI 192 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 513 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 512 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 194 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 195 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 193 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 196 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 197 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_RIIC3_CKM>;
			clock-frequency = <100000>;
			resets = <&cpg R9A09G057_ACPU_RIIC3_MRST>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c4: i2c@14401400 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g057";
			reg = <0 0x14401400 0 0x400>;
			interrupts = <GIC_SPI 198 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 515 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 514 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 200 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 201 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 199 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 202 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 203 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_RIIC4_CKM>;
			clock-frequency = <100000>;
			resets = <&cpg R9A09G057_ACPU_RIIC4_MRST>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c5: i2c@14401800 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g057";
			reg = <0 0x14401800 0 0x400>;
			interrupts = <GIC_SPI 204 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 517 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 516 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 206 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 207 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 205 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 209 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_RIIC5_CKM>;
			clock-frequency = <100000>;
			resets = <&cpg R9A09G057_ACPU_RIIC5_MRST>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c6: i2c@14401c00 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g057";
			reg = <0 0x14401c00 0 0x400>;
			interrupts = <GIC_SPI 210 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 519 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 518 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 212 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 213 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 211 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 214 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 215 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_RIIC6_CKM>;
			clock-frequency = <100000>;
			resets = <&cpg R9A09G057_ACPU_RIIC6_MRST>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		i2c7: i2c@14402000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "renesas,riic-r9a09g057";
			reg = <0 0x14402000 0 0x400>;
			interrupts = <GIC_SPI 216 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 521 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 520 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 218 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 219 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 217 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 220 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 221 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "tei", "ri", "ti", "spi", "sti",
					  "naki", "ali", "tmoi";
			clocks = <&cpg CPG_MOD R9A09G057_ACPU_RIIC7_CKM>;
			clock-frequency = <100000>;
			resets = <&cpg R9A09G057_ACPU_RIIC7_MRST>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ohci0: usb@15800000 {
			compatible = "generic-ohci";
			reg = <0 0x15800000 0 0x100>;
			interrupts = <GIC_SPI 742 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_USB2_U2H0_HCLK>;
			resets = <&cpg R9A09G057_USB2_U2H0_HRESETN>;
			phys = <&usb2_phy0 1>;
			phy-names = "usb";
			power-domains = <&cpg>;
			status = "disabled";
		};

		ohci1: usb@15810000 {
			compatible = "generic-ohci";
			reg = <0 0x15810000 0 0x100>;
			interrupts = <GIC_SPI 747 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_USB2_U2H1_HCLK>;
			resets = <&cpg R9A09G057_USB2_U2H1_HRESETN>;
			phys = <&usb2_phy1 1>;
			phy-names = "usb";
			power-domains = <&cpg>;
			status = "disabled";
		};

		ehci0: usb@15800100 {
			compatible = "generic-ehci";
			reg = <0 0x15800100 0 0x100>;
			interrupts = <GIC_SPI 743 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_USB2_U2H0_HCLK>;
			resets = <&cpg R9A09G057_USB2_U2H0_HRESETN>;
			phys = <&usb2_phy0 2>;
			phy-names = "usb";
			companion = <&ohci0>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		ehci1: usb@15810100 {
			compatible = "generic-ehci";
			reg = <0 0x15810100 0 0x100>;
			interrupts = <GIC_SPI 748 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_USB2_U2H1_HCLK>;
			resets = <&cpg R9A09G057_USB2_U2H1_HRESETN>;
			phys = <&usb2_phy1 2>;
			phy-names = "usb";
			companion = <&ohci1>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		usb2_phy0: usb-phy@15800200 {
			compatible = "renesas,usb2-phy-r9a09g057",
				     "renesas,rzg2l-usb2-phy";
			reg = <0 0x15800200 0 0x700>;
			interrupts = <GIC_SPI 745 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_USB2_U2H0_HRESETN>;
			#phy-cells = <1>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		usb2_phy1: usb-phy@15810200 {
			compatible = "renesas,usb2-phy-r9a09g057",
				     "renesas,rzg2l-usb2-phy";
			reg = <0 0x15810200 0 0x700>;
			interrupts = <GIC_SPI 750 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_USB2_U2H1_HCLK>;
			#phy-cells = <1>;
			power-domains = <&cpg>;
			status = "disabled";
		};

		hsusb: usb@15820000 {
			compatible = "renesas,usbhs-r9a09g057",
				     "renesas,rza2-usbhs";
			reg = <0 0x15820000 0 0x10000>;
			interrupts = <GIC_SPI 751 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 752 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 753 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 754 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_USB2_U2P_EXR_CPUCLK>;
			resets = <&cpg R9A09G057_USB2_U2P_EXL_SYSRST>;
			phys = <&usb2_phy0 3>;
			phy-names = "usb";
			power-domains = <&cpg>;
			status = "disabled";
		};

		eth0: ethernet@15C30000 {
			compatible = "renesas,rzv2h-eqos",
				     "snps,dwc-qos-ethernet-4.10";
			reg = <0 0x15C30000 0 0x10000>;
			interrupts = <GIC_SPI 765 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 767 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 766 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "eth_wake_irq", "eth_lpi";
			clocks =  <&cpg CPG_MOD R9A09G057_GBETH0_ACLK_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH0_ACLK_CSR_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH0_CLK_TX_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH0_CLK_TX_180_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH0_CLK_RX_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH0_CLK_RX_180_I>,
				  <&ptp_clock>;
			clock-names = "master_bus", "slave_bus", "tx", "tx_180", "rx", "rx_180", "ptp_ref";
			resets = <&cpg R9A09G057_GBETH0_ARESETN_I>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
			snps,write-requests = <15>;
			snps,read-requests = <15>;
			snps,burst-map = <0x7>;
		};

		eth1: ethernet@15C40000 {
			compatible = "renesas,rzv2h-eqos",
				     "snps,dwc-qos-ethernet-4.10";
			reg = <0 0x15C40000 0 0x10000>;
			interrupts = <GIC_SPI 780 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 782 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 781 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "eth_wake_irq", "eth_lpi";
			clocks =  <&cpg CPG_MOD R9A09G057_GBETH1_ACLK_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH1_ACLK_CSR_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH1_CLK_TX_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH1_CLK_TX_180_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH1_CLK_RX_I>,
				  <&cpg CPG_MOD R9A09G057_GBETH1_CLK_RX_180_I>,
				  <&ptp_clock>;
			clock-names = "master_bus", "slave_bus", "tx", "tx_180", "rx", "rx_180", "ptp_ref";
			resets = <&cpg R9A09G057_GBETH1_ARESETN_I>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
			snps,write-requests = <15>;
			snps,read-requests = <15>;
			snps,burst-map = <0x7>;
		};

		cru0: cru0@16000000 {
			compatible = "renesas,cru-r9a09g057";
			reg = <0 0x16000000 0 0x400>;
			clocks = <&cpg CPG_MOD R9A09G057_CRU0_VCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU0_PCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU0_ACLK>;
			clock-names = "vclk", "pclk", "aclk";
			interrupts = <GIC_SPI 838 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cpg R9A09G057_CRU0_PRESETN>,
				 <&cpg R9A09G057_CRU0_ARESETN>;
			reset-names = "presetn", "aresetn";
			power-domains = <&cpg>;
			channel,id = <0>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					cru0_to_csi20: endpoint {
						remote-endpoint =
							<&csi20_to_cru0>;
					};
				};
			};
		};

		cru1: cru1@16010000 {
			compatible = "renesas,cru-r9a09g057";
			reg = <0 0x16010000 0 0x400>;
			clocks = <&cpg CPG_MOD R9A09G057_CRU1_VCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU1_PCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU1_ACLK>;
			clock-names = "vclk", "pclk", "aclk";
			interrupts = <GIC_SPI 844 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cpg R9A09G057_CRU1_PRESETN>,
				 <&cpg R9A09G057_CRU1_ARESETN>;
			reset-names = "presetn", "aresetn";
			power-domains = <&cpg>;
			channel,id = <1>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					cru1_to_csi21: endpoint {
						remote-endpoint =
							<&csi21_to_cru1>;
					};
				};
			};
		};

		cru2: cru2@16020000 {
			compatible = "renesas,cru-r9a09g057";
			reg = <0 0x16020000 0 0x400>;
			clocks = <&cpg CPG_MOD R9A09G057_CRU2_VCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU2_PCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU2_ACLK>;
			clock-names = "vclk", "pclk", "aclk";
			interrupts = <GIC_SPI 850 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cpg R9A09G057_CRU2_PRESETN>,
				 <&cpg R9A09G057_CRU2_ARESETN>;
			reset-names = "presetn", "aresetn";
			power-domains = <&cpg>;
			channel,id = <2>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					cru2_to_csi22: endpoint {
						remote-endpoint =
							<&csi22_to_cru2>;
					};
				};
			};
		};

		cru3: cru3@16030000 {
			compatible = "renesas,cru-r9a09g057";
			reg = <0 0x16030000 0 0x400>;
			clocks = <&cpg CPG_MOD R9A09G057_CRU3_VCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU3_PCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU3_ACLK>;
			clock-names = "vclk", "pclk", "aclk";
			interrupts = <GIC_SPI 855 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&cpg R9A09G057_CRU3_PRESETN>,
				 <&cpg R9A09G057_CRU3_ARESETN>;
			reset-names = "presetn", "aresetn";
			power-domains = <&cpg>;
			channel,id = <3>;
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					cru3_to_csi23: endpoint {
						remote-endpoint =
							<&csi23_to_cru3>;
					};
				};
			};
		};

		csi20: csi20@16000400 {
			compatible = "renesas,r9a09g057-csi2";
			reg = <0 0x16000400 0 0xc00>;
			interrupts = <GIC_SPI 837 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_CRU0_VCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU0_M_XI>;
			clock-names = "vclk", "sysclk";
			resets = <&cpg R9A09G057_CRU0_S_RESETN>;
			reset-names = "cmn_rstb";
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					csi20_to_cru0: endpoint {
						remote-endpoint =
							<&cru0_to_csi20>;
					};
				};
			};
		};

		csi21: csi21@16010400 {
			compatible = "renesas,r9a09g057-csi2";
			reg = <0 0x16010400 0 0xc00>;
			interrupts = <GIC_SPI 843 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_CRU1_VCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU1_M_XI>;
			clock-names = "vclk", "sysclk";
			resets = <&cpg R9A09G057_CRU1_S_RESETN>;
			reset-names = "cmn_rstb";
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					csi21_to_cru1: endpoint {
						remote-endpoint =
							<&cru1_to_csi21>;
					};
				};
			};
		};

		csi22: csi22@16020400 {
			compatible = "renesas,r9a09g057-csi2";
			reg = <0 0x16020400 0 0xc00>;
			interrupts = <GIC_SPI 849 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_CRU2_VCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU2_M_XI>;
			clock-names = "vclk", "sysclk";
			resets = <&cpg R9A09G057_CRU2_S_RESETN>;
			reset-names = "cmn_rstb";
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					csi22_to_cru2: endpoint {
						remote-endpoint =
							<&cru2_to_csi22>;
					};
				};
			};
		};

		csi23: csi23@16030400 {
			compatible = "renesas,r9a09g057-csi2";
			reg = <0 0x16030400 0 0xc00>;
			interrupts = <GIC_SPI 854 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A09G057_CRU3_VCLK>,
				 <&cpg CPG_MOD R9A09G057_CRU3_M_XI>;
			clock-names = "vclk", "sysclk";
			resets = <&cpg R9A09G057_CRU3_S_RESETN>;
			reset-names = "cmn_rstb";
			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;

					csi23_to_cru3: endpoint {
						remote-endpoint =
							<&cru3_to_csi23>;
					};
				};
			};
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts-extended = <&gic GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
				      <&gic GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
				      <&gic GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
				      <&gic GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>;
	};
};

