// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/N2H Development EVK board
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r9a09g087.dtsi"
#include <dt-bindings/pinctrl/rzt2h-pinctrl.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/rzt2h-ethss.h>
#include <dt-bindings/net/mscc-phy-vsc8531.h>


/*
 * Set SEL_PCIE to below values to select using of:
 * - 0: ETH3 (default)
 * - 1: PCIE
 */
 #define SEL_PCIE		0

/*
 * Set SEL_PCIE_MODE to below values to select using of PCIE mode:
 * - 0: Root Complex (default)
 * - 1: Endpoint
 */
#define SEL_PCIE_MODE		0

/ {
	model = "Renesas Development EVK based on r9a09g087m44";
	compatible = "renesas,r9a09g087m44-dev", "renesas,r9a09g087m44", "renesas,r9a09g087";

	aliases {
		serial0 = &sci0;
		mmc0 = &sdhi0;
		mmc1 = &sdhi1;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		eth0 = &gmac1;
		eth1 = &gmac2;
		eth2 = &gmac0;
	};

	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	memory@C4000000 {
		device_type = "memory";
		reg = <0x0 0xC4000000 0x0 0x3C000000>;
	};

	memory@240000000 {
		device_type = "memory";
		reg = <0x2 0x40000000 0x1 0xC0000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		global_cma: linux,cma@D0000000 {
			compatible = "shared-dma-pool";
			linux,cma-default;
			reusable;
			reg = <0x0 0xD0000000 0x0 0x10000000>;
		};
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vccq_sdhi0: regulator-vccq-sdhi0 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&pinctrl RZT2H_GPIO(2, 6) GPIO_ACTIVE_HIGH>; /* SDHI : SD0_IOVS/P02_6 */

		gpios-states = <1>;
		states = <3300000 0 1800000 1>;
	};

	vccq_sdhi1: regulator-vccq-sdhi1 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI1 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&pinctrl RZT2H_GPIO(8, 6) GPIO_ACTIVE_HIGH>; /* SDHI : SD1_IOVS/P08_6 */

		gpios-states = <1>;
		states = <3300000 0 1800000 1>;
	};

	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <1>;
		queue0 {
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <3>;
		snps,tx-sched-wrr;
		queue0 {
			snps,weight = <0x10>;
			snps,dcb-algorithm;
		};

		queue1 {
			snps,weight = <0x10>;
			snps,dcb-algorithm;
		};

		queue2 {
			snps,weight = <0x10>;
			snps,dcb-algorithm;
		};
	};
};



&pinctrl {
	sci0_pins: sci0 {
		pinmux = <RZT2H_PORT_PINMUX(27, 5, 0x14)>, /* SCI : TXD0/P27_5 */
			 <RZT2H_PORT_PINMUX(27, 4, 0x14)>; /* SCI : RXD0/P27_4 */
		bias-pull-up;
	};

	sd0_pwr_en {
		gpio-hog;
		gpios = <RZT2H_GPIO(2, 5) GPIO_ACTIVE_HIGH>; /* SDHI : SD0_PWEN/P02_5 */
		output-high;
		line-name = "sd0_pwr_en";
	};

	sd1_pwr_en {
		gpio-hog;
		gpios = <RZT2H_GPIO(8, 5) GPIO_ACTIVE_HIGH>; /* SDHI : SD1_PWEN/P08_5 */
		output-high;
		line-name = "sd1_pwr_en";
	};

	sdhi0_pins: sd0 {
		sd0_data {
			pinmux = <RZT2H_PORT_PINMUX(12, 2, 0x29)>, /* SDHI : SD0_DATA0/P12_2 */
				 <RZT2H_PORT_PINMUX(12, 3, 0x29)>, /* SDHI : SD0_DATA1/P12_3 */
				 <RZT2H_PORT_PINMUX(12, 4, 0x29)>, /* SDHI : SD0_DATA2/P12_4 */
				 <RZT2H_PORT_PINMUX(12, 5, 0x29)>, /* SDHI : SD0_DATA3/P12_5 */
				 <RZT2H_PORT_PINMUX(12, 6, 0x29)>, /* SDHI : SD0_DATA4/P12_6 */
				 <RZT2H_PORT_PINMUX(12, 7, 0x29)>, /* SDHI : SD0_DATA5/P12_7 */
				 <RZT2H_PORT_PINMUX(13, 0, 0x29)>, /* SDHI : SD0_DATA6/P13_0 */
				 <RZT2H_PORT_PINMUX(13, 1, 0x29)>; /* SDHI : SD0_DATA7/P13_1 */
		};

		sd0_ctrl {
			pinmux = <RZT2H_PORT_PINMUX(12, 0, 0x29)>, /* SDHI : SD0_CLK/P12_0 */
				 <RZT2H_PORT_PINMUX(12, 1, 0x29)>, /* SDHI : SD0_CMD/P12_1 */
				 <RZT2H_PORT_PINMUX(22, 5, 0x29)>; /* SDHI : SD0_CD/P22_5 */
		};
	};

	sdhi1_pins: sd1 {
		sd1_data {
			pinmux = <RZT2H_PORT_PINMUX(16, 7, 0x29)>, /* SDHI : SD1_DATA0/P16_7 */
				 <RZT2H_PORT_PINMUX(17, 0, 0x29)>, /* SDHI : SD1_DATA1/P17_0 */
				 <RZT2H_PORT_PINMUX(17, 1, 0x29)>, /* SDHI : SD1_DATA2/P17_1 */
				 <RZT2H_PORT_PINMUX(17, 2, 0x29)>; /* SDHI : SD1_DATA3/P17_2 */
		};

		sd1_ctrl {
			pinmux = <RZT2H_PORT_PINMUX(16, 5, 0x29)>, /* SDHI : SD1_CLK/P16_5 */
				 <RZT2H_PORT_PINMUX(16, 6, 0x29)>, /* SDHI : SD1_CMD/P16_6 */
				 <RZT2H_PORT_PINMUX(17, 4, 0x29)>; /* SDHI : SD1_CD/P17_4 */
		};
	};

	i2c0_pins: i2c0 {
		pinmux = <RZT2H_PORT_PINMUX(14, 7, 0x17)>, /* IIC : IIC_SDA0/P14_7 */
				 <RZT2H_PORT_PINMUX(14, 6, 0x17)>; /* IIC : IIC_SCL0/P14_6 */
	};

	i2c1_pins: i2c1 {
		pinmux = <RZT2H_PORT_PINMUX(3, 3, 0x17)>, /* IIC : IIC_SCL1/P03_3 */
			     <RZT2H_PORT_PINMUX(3, 4, 0x17)>; /* IIC : IIC_SDA1/P03_4 */
	};

	mdio1_pins: gmac_mdio1 {
		pinmux = <RZT2H_PORT_PINMUX(26, 1, 0x10)>, /* GMAC : GMAC1_MDC/P26_1 */
			 <RZT2H_PORT_PINMUX(26, 2, 0x10)>; /* GMAC : GMAC1_MDIO/P26_2 */
	};

	mdio2_pins: gmac_mdio2 {
		pinmux = <RZT2H_PORT_PINMUX(30, 5, 0x10)>, /* GMAC : GMAC2_MDC/P30_5 */
			 <RZT2H_PORT_PINMUX(30, 6, 0x10)>; /* GMAC : GMAC2_MDIO/P30_6 */
	};

	ethsw_pins: ethsw_pins {
		pinmux = <RZT2H_PORT_PINMUX(21, 4, 0x11)>,	/* ETHSW : ETHSW_MDC/P21_4 */
			 <RZT2H_PORT_PINMUX(21, 5, 0x11)>,	/* ETHSW : ETHSW_MDIO/P21_5 */
			 <RZT2H_PORT_PINMUX(21, 6, 0x11)>,	/* ETHSW : ETHSW_PHYLINK0/P21_6 */
			 <RZT2H_PORT_PINMUX(26, 3, 0x11)>,	/* ETHSW : ETHSW_PHYLINK1/P26_3 */
			 <RZT2H_PORT_PINMUX(30, 7, 0x11)>,	/* ETHSW : ETHSW_PHYLINK2/P30_7 */
			 <RZT2H_PORT_PINMUX(17, 6, 0x11)>,	/* ETHSW : ETHSW_PTPOUT0/P17_6 */
			 <RZT2H_PORT_PINMUX(17, 7, 0x11)>,	/* ETHSW : ETHSW_PTPOUT1/P17_7 */
			 <RZT2H_PORT_PINMUX(14, 0, 0x11)>,	/* ETHSW : ETHSW_PTPOUT2/P14_0 */
			 <RZT2H_PORT_PINMUX(18, 7, 0x11)>;	/* ETHSW : ETHSW_PTPOUT3/P18_7 */
	};

	pins_refclk: pins_refclk {
		pinmux = <RZT2H_PORT_PINMUX(21, 7, 0x02)>, /* Clock : ETH0_REFCLK/P21_7 */
			 <RZT2H_PORT_PINMUX(26, 4, 0x02)>, /* Clock : ETH1_REFCLK/P26_4 */
			 <RZT2H_PORT_PINMUX(31, 0, 0x02)>, /* Clock : ETH2_REFCLK/P31_0 */
			 <RZT2H_PORT_PINMUX(34, 6, 0x02)>; /* Clock : ETH3_REFCLK/P34_6 */
	};

	eth0_pins: ethss_0 {
		pinmux = <RZT2H_PORT_PINMUX(20, 0, 0x0F)>,	/* ETHSS : ETH0_TXCLK/P20_0 */
			 <RZT2H_PORT_PINMUX(20, 1, 0x0F)>, /* ETHSS : ETH0_TXD0/P20_1 */
			 <RZT2H_PORT_PINMUX(20, 2, 0x0F)>, /* ETHSS : ETH0_TXD1/P20_2 */
			 <RZT2H_PORT_PINMUX(20, 3, 0x0F)>, /* ETHSS : ETH0_TXD2/P20_3 */
			 <RZT2H_PORT_PINMUX(20, 4, 0x0F)>, /* ETHSS : ETH0_TXD3/P20_4 */
			 <RZT2H_PORT_PINMUX(20, 5, 0x0F)>, /* ETHSS : ETH0_TXEN/P20_5 */
			 <RZT2H_PORT_PINMUX(20, 6, 0x0F)>, /* ETHSS : ETH0_RXCLK/P20_6 */
			 <RZT2H_PORT_PINMUX(20, 7, 0x0F)>, /* ETHSS : ETH0_RXD0/P20_7 */
			 <RZT2H_PORT_PINMUX(21, 0, 0x0F)>, /* ETHSS : ETH0_RXD1/P21_0 */
			 <RZT2H_PORT_PINMUX(21, 1, 0x0F)>, /* ETHSS : ETH0_RXD2/P21_1 */
			 <RZT2H_PORT_PINMUX(21, 2, 0x0F)>, /* ETHSS : ETH0_RXD3/P21_2 */
			 <RZT2H_PORT_PINMUX(21, 3, 0x0F)>, /* ETHSS : ETH0_RXDV/P21_3 */
			 <RZT2H_PORT_PINMUX(22, 1, 0x0F)>, /* ETHSS : ETH0_TXER/P22_1 */
			 <RZT2H_PORT_PINMUX(22, 2, 0x0F)>, /* ETHSS : ETH0_RXER/P22_2 */
			 <RZT2H_PORT_PINMUX(22, 3, 0x0F)>, /* ETHSS : ETH0_CRS/P22_3 */
			 <RZT2H_PORT_PINMUX(22, 4, 0x0F)>; /* ETHSS : ETH0_COL/P22_4 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};

	eth1_pins: ethss_1 {
		pinmux = <RZT2H_PORT_PINMUX(24, 5, 0x0F)>,	/* ETHSS : ETH1_TXCLK/P24_5 */
			 <RZT2H_PORT_PINMUX(24, 6, 0x0F)>, /* ETHSS : ETH1_TXD0/P24_6 */
			 <RZT2H_PORT_PINMUX(24, 7, 0x0F)>, /* ETHSS : ETH1_TXD1/P24_7 */
			 <RZT2H_PORT_PINMUX(25, 0, 0x0F)>, /* ETHSS : ETH1_TXD2/P25_0 */
			 <RZT2H_PORT_PINMUX(25, 1, 0x0F)>, /* ETHSS : ETH1_TXD3/P25_1 */
			 <RZT2H_PORT_PINMUX(25, 2, 0x0F)>, /* ETHSS : ETH1_TXEN/P25_2 */
			 <RZT2H_PORT_PINMUX(25, 3, 0x0F)>, /* ETHSS : ETH1_RXCLK/P25_3 */
			 <RZT2H_PORT_PINMUX(25, 4, 0x0F)>, /* ETHSS : ETH1_RXD0/P25_4 */
			 <RZT2H_PORT_PINMUX(25, 5, 0x0F)>, /* ETHSS : ETH1_RXD1/P25_5 */
			 <RZT2H_PORT_PINMUX(25, 6, 0x0F)>, /* ETHSS : ETH1_RXD2/P25_6 */
			 <RZT2H_PORT_PINMUX(25, 7, 0x0F)>, /* ETHSS : ETH1_RXD3/P25_7 */
			 <RZT2H_PORT_PINMUX(26, 0, 0x0F)>, /* ETHSS : ETH1_RXDV/P26_0 */
			 <RZT2H_PORT_PINMUX(26, 6, 0x0F)>, /* ETHSS : ETH1_TXER/P26_6 */
			 <RZT2H_PORT_PINMUX(26, 7, 0x0F)>, /* ETHSS : ETH1_RXER/P26_7 */
			 <RZT2H_PORT_PINMUX(27, 0, 0x0F)>, /* ETHSS : ETH1_CRS/P27_0 */
			 <RZT2H_PORT_PINMUX(27, 1, 0x0F)>; /* ETHSS : ETH1_COL/P27_1 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};

	eth2_pins: ethss_2 {
		pinmux = <RZT2H_PORT_PINMUX(29, 1, 0x0F)>, /* ETHSS : ETH2_TXCLK/P29_1 */
			 <RZT2H_PORT_PINMUX(29, 2, 0x0F)>, /* ETHSS : ETH2_TXD0/P29_2 */
			 <RZT2H_PORT_PINMUX(29, 3, 0x0F)>, /* ETHSS : ETH2_TXD1/P29_3 */
			 <RZT2H_PORT_PINMUX(29, 4, 0x0F)>, /* ETHSS : ETH2_TXD2/P29_4 */
			 <RZT2H_PORT_PINMUX(29, 5, 0x0F)>, /* ETHSS : ETH2_TXD3/P29_5 */
			 <RZT2H_PORT_PINMUX(29, 6, 0x0F)>, /* ETHSS : ETH2_TXEN/P29_6 */
			 <RZT2H_PORT_PINMUX(29, 7, 0x0F)>, /* ETHSS : ETH2_RXCLK/P29_7 */
			 <RZT2H_PORT_PINMUX(30, 0, 0x0F)>, /* ETHSS : ETH2_RXD0/P30_0 */
			 <RZT2H_PORT_PINMUX(30, 1, 0x0F)>, /* ETHSS : ETH2_RXD1/P30_1 */
			 <RZT2H_PORT_PINMUX(30, 2, 0x0F)>, /* ETHSS : ETH2_RXD2/P30_2 */
			 <RZT2H_PORT_PINMUX(30, 3, 0x0F)>, /* ETHSS : ETH2_RXD3/P30_3 */
			 <RZT2H_PORT_PINMUX(30, 4, 0x0F)>, /* ETHSS : ETH2_RXDV/P30_4 */
			 <RZT2H_PORT_PINMUX(31, 1, 0x0F)>, /* ETHSS : ETH2_RXER/P31_1 */
			 <RZT2H_PORT_PINMUX(31, 2, 0x0F)>, /* ETHSS : ETH2_TXER/P31_2 */
			 <RZT2H_PORT_PINMUX(31, 4, 0x0F)>, /* ETHSS : ETH2_CRS/P31_4 */
			 <RZT2H_PORT_PINMUX(31, 5, 0x0F)>; /* ETHSS : ETH2_COL/P31_5 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};

#if (!SEL_PCIE)
	eth3_pins: ethss_3 {
		pinmux = <RZT2H_PORT_PINMUX(33, 2, 0x0F)>, /* ETHSS : ETH3_TXCLK/P33_2 */
			 <RZT2H_PORT_PINMUX(33, 3, 0x0F)>, /* ETHSS : ETH3_TXD0/P33_3 */
			 <RZT2H_PORT_PINMUX(33, 4, 0x0F)>, /* ETHSS : ETH3_TXD1/P33_4 */
			 <RZT2H_PORT_PINMUX(33, 5, 0x0F)>, /* ETHSS : ETH3_TXD2/P33_5 */
			 <RZT2H_PORT_PINMUX(33, 6, 0x0F)>, /* ETHSS : ETH3_TXD3/P33_6 */
			 <RZT2H_PORT_PINMUX(33, 7, 0x0F)>, /* ETHSS : ETH3_TXEN/P33_7 */
			 <RZT2H_PORT_PINMUX(34, 0, 0x0F)>, /* ETHSS : ETH3_RXCLK/P34_0 */
			 <RZT2H_PORT_PINMUX(34, 1, 0x0F)>, /* ETHSS : ETH3_RXD0/P34_1 */
			 <RZT2H_PORT_PINMUX(34, 2, 0x0F)>, /* ETHSS : ETH3_RXD1/P34_2 */
			 <RZT2H_PORT_PINMUX(34, 3, 0x0F)>, /* ETHSS : ETH3_RXD2/P34_3 */
			 <RZT2H_PORT_PINMUX(34, 4, 0x0F)>, /* ETHSS : ETH3_RXD3/P34_4 */
			 <RZT2H_PORT_PINMUX(34, 5, 0x0F)>, /* ETHSS : ETH3_RXDV/P34_5 */
			 <RZT2H_PORT_PINMUX(0, 0, 0x0F)>, /* ETHSS : ETH3_TXER/P00_0 */
			 <RZT2H_PORT_PINMUX(0, 1, 0x0F)>, /* ETHSS : ETH3_RXER/P00_1 */
			 <RZT2H_PORT_PINMUX(0, 2, 0x0F)>, /* ETHSS : ETH3_CRS/P00_2 */
			 <RZT2H_PORT_PINMUX(0, 3, 0x0F)>; /* ETHSS : ETH3_COL/P00_3 */
			input-schmitt-disable;
			slew-rate	= <1>;
			drive-strength	= <3>;
	};
#endif

#if (SEL_PCIE && !SEL_PCIE_MODE)
	pcie_rstout0 {
		gpio-hog;
		gpios = <RZT2H_GPIO(33, 3) GPIO_ACTIVE_HIGH>; /* PCIE : PCIE_RSTOUT0B/P33_3 */
		output-high;
		line-name = "pcie_rstout0";
	};

	pcie_rstout1 {
		gpio-hog;
		gpios = <RZT2H_GPIO(33, 4) GPIO_ACTIVE_HIGH>; /* PCIE : PCIE_RSTOUT1B/P33_4 */
		output-high;
		line-name = "pcie_rstout1";
	};
#endif

	icu_pins: icu_pins {
		pinmux = <RZT2H_PORT_PINMUX(0, 4, 0x00)>, /* Interrupt : IRQ3/P00_4 */
			 <RZT2H_PORT_PINMUX(5, 2, 0x00)>; /* Interrupt : IRQ4/P05_2 */
	};
};

&extal {
	clock-frequency = <25000000>;
};

&intc_ex {
	pinctrl-0 = <&icu_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&dmac0 {
	memory-region = <&global_cma>;
};

&loco {
	clock-frequency = <1000000>;
};

&sci0 {
	pinctrl-0 = <&sci0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-names = "default";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vccq_sdhi0>;
	bus-width = <4>;
	non-removable;
	status = "okay";
};

&sdhi1 {
	pinctrl-0 = <&sdhi1_pins>;
	pinctrl-names = "default";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vccq_sdhi1>;
	bus-width = <4>;
	non-removable;
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	eeprom: eeprom@50 {
		compatible = "renesas,r1ex24016", "atmel,24c16";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&wdt2 {
	status = "okay";
	timeout-sec = <60>;
};

&wdt3 {
	status = "okay";
	timeout-sec = <60>;
};

&wdt4 {
	status = "okay";
	timeout-sec = <60>;
};

&wdt5 {
	status = "okay";
	timeout-sec = <60>;
};

&gmac0 {
	status = "okay";
	phy-mode = "gmii";
	ethss-handle = <&ethss>;

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

#if (!SEL_PCIE)
&gmac1 {
	phy-handle = <&phy3>;
	phy-mode = "rgmii-id";
	pcs-handle = <&mii_conv3>;
	status = "okay";
	phy-reset-gpios = <&pinctrl RZT2H_GPIO(3, 2) GPIO_ACTIVE_HIGH>; /* ETH3 RESETOUT3/P03_2 */
	pinctrl-names = "default";
	pinctrl-0 = <&mdio1_pins>;
	enable-time-based-scheduling;
	snps,force_thresh_dma_mode;
	snps,tx_threshold = <128>;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	snps,mtl-rx-config = <&mtl_rx_setup>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy3: ethernet-phy@3 {
			compatible = "ethernet-phy-id0007.0772";
			vsc8531,led-0-mode = <VSC8531_LINK_ACTIVITY>;
			vsc8531,led-1-mode = <VSC8531_LINK_ACTIVITY>;
			vsc8531,led-1-combine-disable;
			phy-mode = "rgmii-id";
			reg = <3>;
		};
	};
};
#endif

&gmac2 {
	phy-handle = <&phy2>;
	phy-mode = "rgmii-id";
	pcs-handle = <&mii_conv2>;
	status = "okay";
	phy-reset-gpios = <&pinctrl RZT2H_GPIO(3, 1) GPIO_ACTIVE_HIGH>; /* ETH2 RESETOUT2/P03_1 */
	pinctrl-names = "default";
	pinctrl-0 = <&mdio2_pins>;
	enable-time-based-scheduling;
	snps,force_thresh_dma_mode;
	snps,tx_threshold = <128>;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	snps,mtl-rx-config = <&mtl_rx_setup>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy2: ethernet-phy@2 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "rgmii-id";
			vsc8531,led-0-mode = <VSC8531_LINK_ACTIVITY>;
			vsc8531,led-1-mode = <VSC8531_LINK_ACTIVITY>;
			vsc8531,led-1-combine-disable;
			reg = <2>;
		};
	};
};

&ethss {
	status = "okay";
	pinctrl-names = "default";
#if (SEL_PCIE)
	pinctrl-0 = <&pins_refclk>, <&eth0_pins>, <&eth1_pins>, <&eth2_pins>;
#else
	pinctrl-0 = <&pins_refclk>, <&eth0_pins>, <&eth1_pins>, <&eth2_pins>, <&eth3_pins>;
#endif
	renesas,ethss-switch-portmanagement = <ETHSS_GMAC0_PORT>;
	ethsw_pulse_gen_timer = <0>; /* Pulse generator use ETHSW timer 0 */
};

&ethsw {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy-reset-gpios = <&pinctrl RZT2H_GPIO(11, 0) GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&ethsw_pins>;

	dsa,member = <0 0>;

	mdio {
		clock-frequency = <2500000>;

		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@0 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "mii";
			max-speed = <100>;
			vsc8531,led-0-mode = <VSC8531_LINK_ACTIVITY>;
			vsc8531,led-1-mode = <VSC8531_LINK_ACTIVITY>;
			vsc8531,led-1-combine-disable;
			reg = <0>;
		};

		phy1: ethernet-phy@1 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "mii";
			max-speed = <100>;
			vsc8531,led-0-mode = <VSC8531_LINK_ACTIVITY>;
			vsc8531,led-1-mode = <VSC8531_LINK_ACTIVITY>;
			vsc8531,led-1-combine-disable;
			reg = <1>;
		};
	};
};

&switch_port0 {
	label = "lan0";
	phy-mode = "mii";
	phy-handle = <&phy0>;
	status = "okay";
};

&switch_port1 {
	label = "lan1";
	phy-mode = "mii";
	phy-handle = <&phy1>;
	status = "okay";
};

&switch_port3 {
	status = "okay";
};

&mii_conv0 {
	renesas,ethss-port = <ETHSS_SWITCH_PORT0>;
	renesas,ethsw-phylink = <0>;
	status = "okay";
};

&mii_conv1 {
	renesas,ethss-port = <ETHSS_SWITCH_PORT1>;
	renesas,ethsw-phylink = <0>;
	status = "okay";
};

&mii_conv2 {
	renesas,ethss-port = <ETHSS_GMAC2_PORT>;
	status = "okay";
};

&mii_conv3 {
	renesas,ethss-port = <ETHSS_GMAC1_PORT>;
	status = "okay";
};

#if (SEL_PCIE)
#if (!SEL_PCIE_MODE)
&pcie0 {
	pcie-lane = <1>;
	status = "okay";
};
#else
&pcie0_ep {
	status = "okay";
};
#endif
#endif
