// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G3L SMARC EVK board
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */

/dts-v1/;

/* Switch selection settings */
#define SW_SD0_DEV_SEL		0
#define SW_PDM_EN		0
#define SW_SDIO_M2E		0

/*
 * RSCI2 mode select
 *	0: Disable
 *	1: UART	(default)
 *	2: I2C
 */
#define RSCI2_MODE_SEL		1

/*
 * Enable RSCI3 as SER1 (UART only)
 *	0: Disable SER1 RSCI3
 *	1: Enable (default)
 */
#define SER1_RSCI3_EN		1

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/renesas,r9a08g046-pinctrl.h>
#include "r9a08g046l48.dtsi"
#include "rzg3l-smarc-som.dtsi"
#include "renesas-smarc2.dtsi"

/ {
	model = "Renesas SMARC EVK version 2 based on r9a08g046l48";
	compatible = "renesas,r9a08g046l48-smarc", "renesas,r9a08g046l48",
		     "renesas,r9a08g046";

	aliases {
#if (RSCI2_MODE_SEL == 1)
		serial0 = &rsci2;
#elif (RSCI2_MODE_SEL == 2)
		i2c2 = &rsci2;
#endif
#if (SER1_RSCI3_EN)
		serial1 = &rsci3;
#endif
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		global_cma: linux,cma@58000000 {
			compatible = "shared-dma-pool";
			linux,cma-default;
			reusable;
			reg = <0x0 0x58000000 0x0 0x10000000>;
		};
	};

#if (!SW_SDIO_M2E)
	vqmmc_sd1_pvdd: regulator-vqmmc-sd1-pvdd {
		compatible = "regulator-gpio";
		regulator-name = "SD1_PVDD";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&pinctrl RZG3L_GPIO(J, 1) GPIO_ACTIVE_HIGH>;
		gpios-states = <0>;
		states = <3300000 0>, <1800000 1>;
	};

#else
	vqmmc-wifi-pvdd {
		gpio-hog;
		gpios = <RZG3L_GPIO(J, 1) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "wifi1.8";
	};
#endif

	clk_ext_camera: clk_ext_camera {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	ov5645_vdddo_1v8: 1p8v {
		compatible = "regulator-fixed";
		regulator-name = "camera_vdddo";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	ov5645_vdda_2v8: 2p8v {
		compatible = "regulator-fixed";
		regulator-name = "camera_vdda";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-always-on;
	};

	ov5645_vddd_1v5: 1p5v {
		compatible = "regulator-fixed";
		regulator-name = "camera_vddd";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-always-on;
	};

	osc1: cec-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12000000>;
	};

	dsi-to-hdmi-out {
		compatible = "hdmi-connector";
		type = "d";

		port {
			dsi_to_hdmi_con_out: endpoint {
				remote-endpoint = <&adv7535_out>;
			};
		};
	};
};

&pinctrl {
	canfd_pins: canfd {
		can0_pins: can0 {
			pinmux = <RZG3L_PORT_PINMUX(3, 2, 3)>, /* RX */
				 <RZG3L_PORT_PINMUX(3, 3, 3)>; /* TX */
		};

#if (!SW_LCD_EN)
		can1_pins: can1 {
			pinmux = <RZG3L_PORT_PINMUX(5, 2, 3)>, /* RX */
				 <RZG3L_PORT_PINMUX(5, 3, 3)>; /* TX */
		};
#endif
	};

	i2c0_pins: i2c0 {
		pinmux = <RZG3L_PORT_PINMUX(L, 2, 4)>, /* I2C_PM_CK */
			 <RZG3L_PORT_PINMUX(L, 3, 4)>; /* I2C_PM_DAT */
	};

	scif0_pins: scif0 {
		pins = "SCIF_TXD", "SCIF_RXD";
		power-source = <1800>;
	};

#if (!SW_SDIO_M2E)
	sd1-pwr-en-hog {
		gpio-hog;
		gpios = <RZG3L_GPIO(J, 2) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sd1_pwr_en";
	};
#endif

	sdhi1_pins: sd1 {
		sd1-cd {
			pinmux = <RZG3L_PORT_PINMUX(J, 0, 8)>; /* SD1_CD */
		};

		sd1-clk {
			pinmux = <RZG3L_PORT_PINMUX(G, 0, 1)>; /* SD1_CLK */
			power-source = <3300>;
			renesas,sd_ch1_poc;
		};

		sd1-cmd {
			pinmux = <RZG3L_PORT_PINMUX(G, 1, 1)>; /* SD1_CMD */
			input-enable;
			power-source = <3300>;
			renesas,sd_ch1_poc;
			bias-pull-up;
		};

		sd1-data {
			pinmux = <RZG3L_PORT_PINMUX(G, 2, 1)>, /* SD1_DAT0 */
				 <RZG3L_PORT_PINMUX(G, 3, 1)>, /* SD1_DAT1 */
				 <RZG3L_PORT_PINMUX(G, 4, 1)>, /* SD1_DAT2 */
				 <RZG3L_PORT_PINMUX(G, 5, 1)>; /* SD1_DAT3 */
			input-enable;
			power-source = <3300>;
			renesas,sd_ch1_poc;
		};
	};

	sdhi1_uhs_pins: sd1-uhs {
		sd1-cd {
			pinmux = <RZG3L_PORT_PINMUX(J, 0, 8)>; /* SD1_CD */
		};

		sd1-clk {
			pinmux = <RZG3L_PORT_PINMUX(G, 0, 1)>; /* SD1_CLK */
			power-source = <1800>;
			renesas,sd_ch1_poc;
		};

		sd1-cmd {
			pinmux = <RZG3L_PORT_PINMUX(G, 1, 1)>; /* SD1_CMD */
			input-enable;
			power-source = <1800>;
			renesas,sd_ch1_poc;
		};

		sd1-data {
			pinmux = <RZG3L_PORT_PINMUX(G, 2, 1)>, /* SD1_DAT0 */
				 <RZG3L_PORT_PINMUX(G, 3, 1)>, /* SD1_DAT1 */
				 <RZG3L_PORT_PINMUX(G, 4, 1)>, /* SD1_DAT2 */
				 <RZG3L_PORT_PINMUX(G, 5, 1)>; /* SD1_DAT3 */
			input-enable;
			power-source = <1800>;
			renesas,sd_ch1_poc;
		};
	};

	usb0_pins: usb0 {
		pinmux = <RZG3L_PORT_PINMUX(3, 1, 12)>, /* VBUS */
			 <RZG3L_PORT_PINMUX(3, 0, 12)>; /* OVC */
	};

	usb1_pins: usb1 {
		pinmux = <RZG3L_PORT_PINMUX(3, 5, 12)>, /* VBUS */
			 <RZG3L_PORT_PINMUX(3, 4, 12)>; /* OVC */
	};

	pcie-clkreq-n {
		gpio-hog;
		gpios = <RZG3L_GPIO(G, 6) GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "pcie_clkreq_n";
	};

	pcie_pins: pcie {
		pinmux = <RZG3L_PORT_PINMUX(G, 7, 1)>; /* PCIE_RST_OUT# */
	};

#if (RSCI2_MODE_SEL)
	rsci2_pins: rsci2 {
		pinmux = <RZG3L_PORT_PINMUX(7, 6, 5)>, /* RSCI2_RXD_MISO_SCL */
			 <RZG3L_PORT_PINMUX(7, 7, 5)>; /* RSCI2_TXD_MOSI_SDA */
		bias-pull-up;
		drive-strength-microamp = <9000>;
		renesas,sys_sel_clonech = <13>;
	};

	rsci2_rtscts_pins: rsci2_ctsrts {
		pinmux = <RZG3L_PORT_PINMUX(7, 6, 5)>, /* RSCI2_RXD_MISO_SCL */
			 <RZG3L_PORT_PINMUX(7, 7, 5)>, /* RSCI2_TXD_MOSI_SDA */
			 <RZG3L_PORT_PINMUX(8, 0, 6)>, /* RSCI2_CTS */
			 <RZG3L_PORT_PINMUX(8, 1, 5)>; /* RSCI2_SS_CTS_RTS */
		bias-pull-up;
		drive-strength-microamp = <9000>;
		renesas,sys_sel_clonech = <13>;
	};

	rsci2_i2c_pins: rsci2_i2c {
		pinmux = <RZG3L_PORT_PINMUX(6, 5, 5)>, /* RSCI2_RXD_MISO_SCL */
			 <RZG3L_PORT_PINMUX(6, 6, 5)>; /* RSCI2_TXD_MOSI_SDA */
		bias-pull-up;
		drive-strength-microamp = <9000>;
		renesas,sys_sel_clonech = <13>;
	};
#endif

#if (SER1_RSCI3_EN)
	rsci3_pins: rsci3 {
		pinmux = <RZG3L_PORT_PINMUX(8, 2, 5)>, /* RSCI3_RXD_MISO_SCL */
			 <RZG3L_PORT_PINMUX(8, 3, 5)>; /* RSCI3_TXD_MOSI_SDA */
		bias-pull-up;
		drive-strength-microamp = <9000>;
		renesas,sys_sel_clonech = <14>;
	};
#endif

	i2c1_pins: i2c1 {
		pinmux = <RZG3L_PORT_PINMUX(A, 6, 4)>, /* I2C1_SCL */
			 <RZG3L_PORT_PINMUX(A, 7, 4)>; /* I2C1_SDA */
	};
};

&canfd {
	pinctrl-0 = <&canfd_pins>;
	pinctrl-names = "default";

	channel0 {
		status = "okay";
	};

#if (!SW_LCD_EN)
	channel1 {
		status = "okay";
	};
#endif
};

&du {
	status = "okay";
};

&dsi {
	status = "okay";

	ports {
		port@1 {
			dsi0_out: endpoint {
				remote-endpoint = <&adv7535_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&i2c2 {
	adv7535: hdmi@3d {
		compatible = "adi,adv7535";
		reg = <0x3d>, <0x2d>, <0x4d>, <0x5d>;
		reg-names = "main", "cec", "edid", "packet";

		interrupts-extended = <&pinctrl RZG3L_GPIO(K, 3) IRQ_TYPE_EDGE_FALLING>;
		clocks = <&osc1>;
		clock-names = "cec";
		avdd-supply = <&reg_1p8v>;
		dvdd-supply = <&reg_1p8v>;
		pvdd-supply = <&reg_1p8v>;
		a2vdd-supply = <&reg_1p8v>;
		v3p3-supply = <&reg_3p3v>;
		v1p2-supply = <&reg_1p8v>;

		adi,dsi-lanes = <4>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				adv7535_in: endpoint@0 {
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;
				adv7535_out: endpoint@1 {
					remote-endpoint = <&dsi_to_hdmi_con_out>;
				};
			};
		};
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

#if (!SW_SDIO_M2E)
&sdhi1 {
	pinctrl-0 = <&sdhi1_pins>;
	pinctrl-1 = <&sdhi1_uhs_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vqmmc_sd1_pvdd>;

	max-frequency = <300000000>;
};
#else
&sdhi1 {
	pinctrl-0 = <&sdhi1_uhs_pins>;
	pinctrl-names = "default";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;

	max-frequency = <300000000>;

	non-removable;
	cap-power-off-card;
	#address-cells = <1>;
	#size-cells = <0>;

	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};
#endif

&phyrst {
	status = "okay";
};

&usb2_phy0 {
	pinctrl-0 = <&usb0_pins>;
	pinctrl-names = "default";

	vbus-supply = <&usb0_vbus_otg>;
	status = "okay";
};

&usb2_phy1 {
	pinctrl-0 = <&usb1_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&ehci0 {
	dr_mode = "otg";
	status = "okay";
};

&ohci0 {
	dr_mode = "otg";
	status = "okay";
};

&hsusb0 {
	dr_mode = "otg";
	status = "okay";
};

&ehci1 {
	dr_mode = "host";
	status = "okay";
};

&ohci1 {
	dr_mode = "host";
	status = "okay";
};

&pcie {
	pinctrl-0 = <&pcie_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&cru {
	status = "okay";
};

&csi2 {
	status = "okay";

	ports {
		 port {
			csi2_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&ov5645_to_csi2>;
			};
		};
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";

	ov5645_csi2: ov5645_csi2@3c {
		compatible = "ovti,ov5645";
		reg = <0x3c>;
		clock-names = "xclk";
		clocks = <&clk_ext_camera>;
		clock-frequency = <24000000>;
		vdddo-supply = <&ov5645_vdddo_1v8>;
		vdda-supply = <&ov5645_vdda_2v8>;
		vddd-supply = <&ov5645_vddd_1v5>;
		enable-gpios = <&pinctrl RZG3L_GPIO(M, 6) GPIO_ACTIVE_HIGH>; /* CSI1_PWDNB */
		reset-gpios  = <&pinctrl RZG3L_GPIO(M, 7) GPIO_ACTIVE_LOW>;  /* CSI1_RESET */

		port {
			ov5645_to_csi2: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&csi2_in>;
			};
		};
	};
};

#if (RSCI2_MODE_SEL == 1)
&rsci2 {
	compatible = "renesas,rz-rscif";
	pinctrl-0 = <&rsci2_rtscts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;
	status = "okay";
};
#elif (RSCI2_MODE_SEL == 2)
&rsci2 {
	compatible = "renesas,rz-rsci-i2c";
	pinctrl-0 = <&rsci2_i2c_pins>;
	pinctrl-names = "default";
	status = "okay";
};
#endif

#if (SER1_RSCI3_EN)
&rsci3 {
	compatible = "renesas,rz-rscif";
	pinctrl-0 = <&rsci3_pins>;
	pinctrl-names = "default";
	status = "okay";
};
#endif
