// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G3L SMARC EVK board
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */

/dts-v1/;

/* Switch selection settings */
#define SW_SD0_DEV_SEL		0
#define SW_PDM_EN		0

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/renesas,r9a08g046-pinctrl.h>
#include "r9a08g046l48.dtsi"
#include "rzg3l-smarc-som.dtsi"
#include "renesas-smarc2.dtsi"

/ {
	model = "Renesas SMARC EVK version 2 based on r9a08g046l48";
	compatible = "renesas,r9a08g046l48-smarc", "renesas,r9a08g046l48",
		     "renesas,r9a08g046";

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		global_cma: linux,cma@58000000 {
			compatible = "shared-dma-pool";
			linux,cma-default;
			reusable;
			reg = <0x0 0x58000000 0x0 0x10000000>;
		};
	};

	vqmmc_sd1_pvdd: regulator-vqmmc-sd1-pvdd {
		compatible = "regulator-gpio";
		regulator-name = "SD1_PVDD";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&pinctrl RZG3L_GPIO(J, 1) GPIO_ACTIVE_HIGH>;
		gpios-states = <0>;
		states = <3300000 0>, <1800000 1>;
	};
};

&pinctrl {
	canfd_pins: canfd {
		can0_pins: can0 {
			pinmux = <RZG3L_PORT_PINMUX(3, 2, 3)>, /* RX */
				 <RZG3L_PORT_PINMUX(3, 3, 3)>; /* TX */
		};

#if (!SW_LCD_EN)
		can1_pins: can1 {
			pinmux = <RZG3L_PORT_PINMUX(5, 2, 3)>, /* RX */
				 <RZG3L_PORT_PINMUX(5, 3, 3)>; /* TX */
		};
#endif
	};

	i2c0_pins: i2c0 {
		pinmux = <RZG3L_PORT_PINMUX(L, 2, 4)>, /* I2C_PM_CK */
			 <RZG3L_PORT_PINMUX(L, 3, 4)>; /* I2C_PM_DAT */
	};

	scif0_pins: scif0 {
		pins = "SCIF_TXD", "SCIF_RXD";
		power-source = <1800>;
	};

	sd1-pwr-en-hog {
		gpio-hog;
		gpios = <RZG3L_GPIO(J, 2) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sd1_pwr_en";
	};

	sdhi1_pins: sd1 {
		sd1-cd {
			pinmux = <RZG3L_PORT_PINMUX(J, 0, 8)>; /* SD1_CD */
		};

		sd1-ctrl {
			pinmux = <RZG3L_PORT_PINMUX(G, 0, 1)>, /* SD1_CLK */
				 <RZG3L_PORT_PINMUX(G, 1, 1)>; /* SD1_CMD */
		};

		sd1-data {
			pinmux = <RZG3L_PORT_PINMUX(G, 2, 1)>, /* SD1_DAT0 */
				 <RZG3L_PORT_PINMUX(G, 3, 1)>, /* SD1_DAT1 */
				 <RZG3L_PORT_PINMUX(G, 4, 1)>, /* SD1_DAT2 */
				 <RZG3L_PORT_PINMUX(G, 5, 1)>; /* SD1_DAT3 */
		};
	};
};

&canfd {
	pinctrl-0 = <&canfd_pins>;
	pinctrl-names = "default";

	channel0 {
		status = "okay";
	};

#if (!SW_LCD_EN)
	channel1 {
		status = "okay";
	};
#endif
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&sdhi1 {
	pinctrl-0 = <&sdhi1_pins>;
	pinctrl-1 = <&sdhi1_pins>;
	pinctrl-names = "default", "state_uhs";
	/delete-property/ sd-uhs-sdr50;
	/delete-property/ sd-uhs-sdr104;

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vqmmc_sd1_pvdd>;
};
