// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/T2N SoC
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/renesas,r9a07g076-cpg.h>

/ {
	compatible = "renesas,r9a07g076";
	#address-cells = <2>;
	#size-cells = <2>;

	extal: extal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	loco: loco {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	cluster0_opp: opp-table-0 {
		compatible = "operating-points-v2";
		opp-shared;

		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
		};
		opp-1200000000 {
			opp-hz = /bits/ 64 <1200000000>;
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
			};
		};

		cpu0: cpu@0 {
			compatible = "arm,cortex-a55";
			reg = <0>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
			clocks = <&cpg CPG_MOD R9A07G076_CA55C0_CLK>;
			operating-points-v2 = <&cluster0_opp>;
		};

		cpu1: cpu@100 {
			compatible = "arm,cortex-a55";
			reg = <0x100>;
			device_type = "cpu";
			next-level-cache = <&L3_CA55>;
			enable-method = "psci";
			clocks = <&cpg CPG_MOD R9A07G076_CA55C1_CLK>;
			operating-points-v2 = <&cluster0_opp>;
		};

		L3_CA55: cache-controller-0 {
			compatible = "cache";
			cache-unified;
			cache-size = <0x40000>;
		};
	};

	psci {
		compatible = "arm,psci-1.0", "arm,psci-0.2";
		method = "smc";
	};

	soc: soc {
		compatible = "simple-bus";
		interrupt-parent = <&gic>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		cpg: clock-controller@80280000 {
			compatible = "renesas,r9a07g076-cpg";
			reg = <0 0x80280000 0 0x1000>,
			      <0 0x81280000 0 0x9000>;
			clocks = <&extal>, <&loco>;
			clock-names = "extal", "loco";
			#clock-cells = <2>;
			#reset-cells = <1>;
			#power-domain-cells = <0>;
		};

		pinctrl: pinctrl@812C0000 {
			compatible = "renesas,r9a07g076-pinctrl";
			reg = <0 0x802C0000 0 0x2000>,
			      <0 0x812C0000 0 0x2000>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl 0 0 201>;
		};

		sci0: serial@80005000 {
			compatible = "renesas,scif-r9a07g076",
				     "renesas,rz-rscif";
			reg = <0 0x80005000 0 0x400>;
			interrupts = <GIC_SPI 465 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 466 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 467 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 468 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "eri", "rxi", "txi", "tei";
			clocks = <&cpg CPG_MOD R9A07G076_SCI0_CLK>;
			clock-names = "fck";
			power-domains = <&cpg>;
			status = "disabled";
		};

		sci1: serial@80005400 {
			compatible = "renesas,scif-r9a07g076",
				     "renesas,rz-rscif";
			reg = <0 0x80005400 0 0x400>;
			interrupts = <GIC_SPI 469 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 470 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 471 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 472 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "eri", "rxi", "txi", "tei";
			clocks = <&cpg CPG_MOD R9A07G076_SCI1_CLK>;
			clock-names = "fck";
			power-domains = <&cpg>;
			status = "disabled";
		};

		gic: interrupt-controller@83000000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <3>;
			#address-cells = <0>;
			interrupt-controller;
			reg = <0x0 0x83000000 0 0x40000>,
			      <0x0 0x83040000 0 0x160000>;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_LOW>;
		};

		sdhi0: mmc@92080000 {
			compatible = "renesas,sdhi-r9a07g076";
			reg = <0x0 0x92080000 0 0x10000>,
			      <0x0 0x8129B000 0 0x4>;
			interrupts = <GIC_SPI 604 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 605 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A07G076_SDHI0_CLK>;
			clock-names = "clk";
			power-domains = <&cpg>;
			status = "disabled";
		};

		sdhi1: mmc@92090000 {
			compatible = "renesas,sdhi-r9a07g076";
			reg = <0x0 0x92090000 0 0x10000>,
			      <0x0 0x8129B004 0 0x4>;
			interrupts = <GIC_SPI 606 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 607 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&cpg CPG_MOD R9A07G076_SDHI1_CLK>;
			clock-names = "clk";
			power-domains = <&cpg>;
			status = "disabled";
		};

		intc_ex: intc_ex@802A0000 {
			compatible = "renesas,rzt2-irqc";
			#interrupt-cells = <2>;
			interrupt-controller;
			reg = <0x0 0x802A0000 0 0x1000>,
			      <0x0 0x812A0000 0 0x1000>;
			interrupts = <GIC_SPI 16 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 17 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 18 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 19 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 20 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 21 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 22 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 23 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 24 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 25 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 26 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 27 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 28 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 29 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 30 IRQ_TYPE_EDGE_RISING>,
				     <GIC_SPI 31 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "irq0", "irq1", "irq2", "irq3",
					  "irq4", "irq5", "irq6", "irq7",
					  "irq8", "irq9", "irq10", "irq11",
					  "irq12", "irq13", "irq14", "irq15";
			status = "disabled";
		};

		gmac0: ethernet@80100000 {
			compatible = "renesas,rzt2-eqos",
				     "snps,dwc-qos-ethernet-4.10";
			reg = <0 0x80100000 0 0x10000>;
			interrupts = <GIC_SPI 368 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 370 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 369 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "eth_wake_irq", "eth_lpi";
			clocks = <&cpg CPG_MOD R9A07G076_GMAC0_CLK>;
			clock-names = "clk";
			resets = <&cpg R9A07G076_GMAC0_PCLKH_RST>,
				 <&cpg R9A07G076_GMAC0_PCLKM_RST>;
			reset-names = "reset_h", "reset_m";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
			snps,write-requests = <15>;
			snps,read-requests = <15>;
			snps,burst-map = <0x7>;
		};

		gmac1: ethernet@92000000 {
			compatible = "renesas,rzt2-eqos",
				     "snps,dwc-qos-ethernet-4.10";
			reg = <0 0x92000000 0 0x10000>;
			interrupts = <GIC_SPI 387 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 389 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 388 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "eth_wake_irq", "eth_lpi";
			clocks = <&cpg CPG_MOD R9A07G076_GMAC1_CLK>;
			clock-names = "clk";
			resets = <&cpg R9A07G076_GMAC1_PCLKAH_RST>,
				 <&cpg R9A07G076_GMAC1_PCLKAM_RST>;
			reset-names = "reset_h", "reset_m";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
			snps,write-requests = <15>;
			snps,read-requests = <15>;
			snps,burst-map = <0x7>;
		};

		gmac2: ethernet@92010000 {
			compatible = "renesas,rzt2-eqos",
				     "snps,dwc-qos-ethernet-4.10";
			reg = <0 0x92010000 0 0x10000>;
			interrupts = <GIC_SPI 406 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 408 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 407 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "eth_wake_irq", "eth_lpi";
			clocks = <&cpg CPG_MOD R9A07G076_GMAC2_CLK>;
			clock-names = "clk";
			resets = <&cpg R9A07G076_GMAC2_PCLKAH_RST>,
				 <&cpg R9A07G076_GMAC2_PCLKAM_RST>;
			reset-names = "reset_h", "reset_m";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
			snps,write-requests = <15>;
			snps,read-requests = <15>;
			snps,burst-map = <0x7>;
		};

		ethss: ethss@80110000 {
			compatible = "renesas,rzt2-ethss";
			#address-cells = <1>;
			#size-cells = <0>;
			reg =  <0 0x80110000 0 0x10000>;
			clocks = <&cpg CPG_MOD R9A07G076_ETHSS_CLK>;
			resets = <&cpg R9A07G076_ETHSS_RST>,
				 <&cpg R9A07G076_MII_RST>;
			reset-names = "reset_ethss", "reset_conv";
			power-domains = <&cpg>;
			status = "disabled";

			mii_conv0: mii-conv@0 {
				reg = <0>;
				status = "disabled";
			};

			mii_conv1: mii-conv@1 {
				reg = <1>;
				status = "disabled";
			};

			mii_conv2: mii-conv@2 {
				reg = <2>;
				status = "disabled";
			};

			mii_conv3: mii-conv@3 {
				reg = <3>;
				status = "disabled";
			};

			mii_conv4: mii-conv@4 {
				reg = <4>;
				status = "disabled";
			};
		};

		wdt0: watchdog@80082000 {
			compatible = "renesas,r9a07g076-wdt";
			reg = <0 0x80082000 0 0x400>,
			      <0 0x81295100 0 0x04>;
			reg-names = "wdt", "dbg";
			clocks = <&cpg CPG_CORE R9A07G076_PCLKL>;
			clock-names = "pclkl";
			power-domains = <&cpg>;
			status = "disabled";
		};

		wdt1: watchdog@80082400 {
			compatible = "renesas,r9a07g076-wdt";
			reg = <0 0x80082400 0 0x400>,
			      <0 0x81295104 0 0x04>;
			reg-names = "wdt", "dbg";
			clocks = <&cpg CPG_CORE R9A07G076_PCLKL>;
			clock-names = "pclkl";
			power-domains = <&cpg>;
			status = "disabled";
		};

		wdt2: watchdog@80082800 {
			compatible = "renesas,r9a07g076-wdt";
			reg = <0 0x80082800 0 0x400>,
			      <0 0x81295108 0 0x04>;
			reg-names = "wdt", "dbg";
			clocks = <&cpg CPG_CORE R9A07G076_PCLKL>;
			clock-names = "pclkl";
			power-domains = <&cpg>;
			status = "disabled";
		};

		wdt3: watchdog@80082C00 {
			compatible = "renesas,r9a07g076-wdt";
			reg = <0 0x80082C00 0 0x400>,
			      <0 0x8129510C 0 0x04>;
			reg-names = "wdt", "dbg";
			clocks = <&cpg CPG_CORE R9A07G076_PCLKL>;
			clock-names = "pclkl";
			power-domains = <&cpg>;
			status = "disabled";
		};

		icu_s_int: icu@812A0000 {
			compatible = "syscon";
			reg = <0 0x812A0000 0 0x1000>;
		};

		icu_ns_int: icu@802A0000 {
			compatible = "syscon";
			reg = <0 0x802A0000 0 0x1000>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts-extended = <&gic GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 12 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "sec-phys", "phys", "virt", "hyp-phys", "hyp-virt";
	};
};
