// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G3S SMARC-II board
 *
 * Copyright (C) 2023 Renesas Electronics Corp.
 */

#include "rz-smarc2-common.dtsi"
#include "rzg3s-smarc-pinfunction.dtsi"

#if !SD2_SEL
&eth0 {
	phy0: ethernet-phy@7 {
		interrupt-parent = <&pinctrl>;
		interrupts = <RZG2L_GPIO(12, 0) IRQ_TYPE_LEVEL_LOW>; /* RZ_IRQ0 */
	};
};

&eth1 {
	phy1: ethernet-phy@7 {
		interrupt-parent = <&pinctrl>;
		interrupts = <RZG2L_GPIO(12, 1) IRQ_TYPE_LEVEL_LOW>; /* RZ_IRQ1 */
	};
};
#endif

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&scif3 {
	pinctrl-0 = <&scif3_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&spi0 {
#if RSPI0_LOOPBACK_SEL
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <50000000>;
	};
#else
	flash0: n25q256a@0 {
		compatible = "micron,n25q256a", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		m25p,fast-read;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			scratch@0 {
				reg = <0x00000000 0x2000000>;
			};
		};
	};
#endif
};

&i2c1 {
	status = "okay";

	versa3: versa3@68 {
		compatible = "renesas,5p35023";
		reg = <0x68>;
		#clock-cells = <1>;
		clocks = <&x3_clk>;
		clock-names = "x1";
		assigned-clocks = <&versa3 0>,
				   <&versa3 1>,
				   <&versa3 2>,
				   <&versa3 3>,
				   <&versa3 4>,
				   <&versa3 5>;
		assigned-clock-rates =	<12288000>, <25000000>,
					<12000000>, <11289600>,
					<11289600>, <24000000>;
		clock-divider-read-only = <1>, <1>, <1>, <1>, <1>;
		clock-flags = <2176>, <2176>, <2176>, <2052>, <2176>, <2048>;
	};
};

&cpu_dai {
	sound-dai = <&ssi3>;
};

&codec_dai {
	clocks = <&versa3 3>;
};

&ssi3 {
	pinctrl-0 = <&ssi3_pins>;
	pinctrl-names = "default";

	status = "okay";
};
