// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G3L SMARC LVDS-HDMI
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */

/ {
	lvds-to-hdmi-out {
		compatible = "hdmi-connector";
		type = "d";

		port {
			lvds_to_hdmi_con_out: endpoint {
				remote-endpoint = <&it6263_out>;
			};
		};
	};
};

&du {
	status = "okay";
};

&i2c2 {
	it6263: it6263@4c {
		compatible = "ite,it6263";
		reg = <0x4c>;
		data-mapping = "vesa-24";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				lvds0_in0: endpoint@0 {
					remote-endpoint = <&lvds0_out>;
				};
			};

			port@2 {
				reg = <2>;
				it6263_out: endpoint@2 {
					remote-endpoint = <&lvds_to_hdmi_con_out>;
				};
			};
		};
	};
};

&lvds {
	status = "okay";
};

&lvds0 {
	status = "okay";

	ports {
		port@1 {
			lvds0_out: endpoint {
				remote-endpoint = <&lvds0_in0>;
			};
		};
	};
};
