# SPDX-License-Identifier: GPL-2.0-only
menu "EtherCat connected devices"

config ESC_APPLICATION
	bool "Enable ESC application"
	help
	  This config enable Linux kernel supports for ESC application.
	  ESC application is a software layer use to control device
	  connected to ESC. When using any device connected to ESC,
	  it will enable this config.

config NET_RZT2H_ESC_LED_DIPSW
	tristate "Renesas RZ/T2H EtherCat led dipsw device"
	depends on NET_ETHERCAT_RZT2H_ESC
	select ESC_APPLICATION
	help
	  This source code supports the EtherCat Slave Led DipSW device, which is
	  connected to EtherCAT slave controller (ESC). It just a slave application,
	  which ESC control led and dipsw on T2H board. The ESC handles EtherCAT
	  communications as an interface between the EtherCAT field bus and
	  slave applications.

	  To compile this driver as a module, choose M here.

endmenu
